<app-header></app-header>
<app-header-mobile></app-header-mobile>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
          <div id="wrap_recruit">
          <!------ sub_top_wrap 공통------------->
            <div id="sub_top_wrap">
              <div class="sub_top_box01">
                <img src="/assets/images/top_icon.png" alt="image">
                <p class="sub_top_s">Wanted</p>
                <p class="sub_top_b">플로언스 채용공고</p>
              </div>
              <div class="sub_top_box02">
                <p class="sub_top_m"><span>새로운 길</span>을 함께 그려나갈 매력 있는 <span>플로언서</span>를 기다립니다</p>
              </div>
            </div>
          <!------ sub_top_wrap end------------->
            <div class="sub_container recruit_con01">
              <div class="subtitle_box">
                <p class="subtitle01">인재상<em>line</em></p>
                <p class="subtitle02">플로언스가 바라는 인재상은 자신이 가진 매력으로 세상과 플로언스라는 공간에 긍정적 영향력을 끼치는 인재입니다.</p>
              </div>

              <div class="re_box_wrap">
                <ul>
                  <img class="re_box_img" src="/assets/images/recruit02.png" alt="flowns_image">
                  <li class="re_box01 re_bg">
                    <div>
                      <p class="re_title"><span>01</span>매력</p>
                      열린 사고와 창의적인 발상으로 새로운 방안과 <br>
                      기회를 찾아 노력하며 할 수 있다는 자신감으로 <br>
                      도전적인 목표를 설정하고 <br>
                      달성해 나아갑니다
                    </div>
                  </li>
                  <li class="re_box02">
                    <div>
                      <p class="re_title"><span>02</span>소통</p>
                      맡은 일에 한정 짓기보다는 전체를 고려하여 <br>
                      내 일과 동료일을 협력하여 해결하고 서로를 <br>
                      지지하고 친밀한 관계를 형성해 갑니다
                    </div>
                  </li>
                  <li class="re_box03">
                    <div>
                      <p class="re_title"><span>03</span>영향력</p>

                      개인 잠재력과 성장가능성을 통해 전문성과 <br>
                      능력향상을 발전시켜 각자의 <br>
                      개인 영향력을 펼쳐 나아 갑니다
                    </div>
                  </li>
                  <li class="re_box04 re_bg">
                    <div>
                      <p class="re_title"><span>04</span>에너지</p>
                      정열은 진정한 마음을 담은 혼신의 노력을 통해 불가능을 <br>
                      가능하게하는 마음가짐입니다.<br>
                      정열이 있는 사람은 결코 포기하지 않으며 장애물을 극복하고 <br>
                      난관을 헤치며 끊임없이 나아갑니다
                    </div>
                  </li>
                </ul>
              </div>
            </div>


            <div class="sub_container recruit_con02">
              <div class="subtitle_box">
                <p class="subtitle01">채용단계<em>line</em></p>
                <p class="subtitle02">플로언서는 매력있는, 영향력을 끼치는 사람들입니다.</p>
              </div>
              <ul class="re_con02_ul">
                <li class="re_li">
                  <img src="/assets/images/recruit03.png" alt="flowns_image">
                  <p><span>STEP1</span> 서류전형</p>
                </li>
                <li class="re_li_arrow">
                  <img src="/assets/images/recruit07.png" alt="flowns_image">
                </li>
                <li class="re_li">
                  <img src="/assets/images/recruit04.png" alt="flowns_image">
                  <p><span>STEP2</span> 1차 직무 인터뷰</p>
                </li>
                <li class="re_li_arrow">
                  <img src="/assets/images/recruit07.png" alt="flowns_image">
                </li>
                <li class="re_li">
                  <img src="/assets/images/recruit05.png" alt="flowns_image">
                  <p><span>STEP3</span> 2차 인성 면접</p>
                </li>
                <li class="re_li_arrow">
                  <img src="/assets/images/recruit07.png" alt="flowns_image">
                </li>
                <li class="re_li">
                  <img src="/assets/images/recruit06.png" alt="flowns_image">
                  <p><span>STEP4</span> 최종합격</p>
                </li>
              </ul>
            </div>

            <div class="sub_container recruit_con03">
              <div class="subtitle_box">
                <p class="subtitle01">복리후생<em>line</em></p>
                <p class="subtitle02">플로언서가 누리는 혜택</p>
              </div>
              <div class="re_con03_box">
                <ul class="re_con03_ul">
                  <li>- 4대 보험</li>
                  <li>- 심야 교통비</li>
                  <li>- 메리 플로언스</li>
                  <li>- 경조사 지원</li>
                  <li>- 최신사양 PC</li>
                  <li>- 리조트 회원권</li>
                  <li>- 리프레시 휴가</li>
                  <li>- 도서비 지원</li>
                  <li>- 영어 이름 사용</li>
                  <li>- 워크샵</li>
                  <li>- 필요 라이센스 지원</li>
                  <li>- 캐릭터 제공</li>
                  <li>- 야근수당</li>
                  <li>- 야근석식</li>
                  <li>- 생일 축하 선물</li>
                </ul>
              </div>
              <a href="mailto:flowns@flowns.co.kr" class="submit_btn">
                <p>상시 지원으로 나의 매력 뽐내기<img src="/assets/images/arrow.png" alt="buttun_icon"></p>
                <p>(자유 이력서 및 포트폴리오)</p>
              </a>
            </div>
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>
