<app-header></app-header>
<app-header-mobile></app-header-mobile>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
          <div id="wrap_pd">
              <div class="pd_top">
                <div class="pd_btn_area">
                  <div class="pd_btn01">
                    <a href="https://play.google.com/store/apps/details?id=com.flowns.dev.gongsapd.commercial" target="_blank">
                      <img src="/assets/images/btn_google.png" alt="google_icon">
                    </a>
                  </div>
                  <div class="pd_btn02">
                    <a href="https://itunes.apple.com/kr/app/id1378463049" target="_blank">
                      <img src="/assets/images/btn_app.png" alt="app_icon">
                    </a>
                  </div>
                </div>
                <div class="pd_btn_under_txt">
                  대한민국 공사의 시작과 끝, 공사피디 앱 다운받기
                </div>
              </div>
      
              <img class="pd_con" src="/assets/images/gongsa_img01.jpg" alt="flowns_image">
              <img class="pd_con" src="/assets/images/gongsa_img02.jpg" alt="flowns_image">
      
      
          </div>

          <!----mobile ver----->
          <div id="pd_mobile">
            <div class="pd_mp_top">
              <img class="pd_con" src="/assets/images/pd_mo01.png" alt="flowns_image">
              <div class="pd_mo_btn">
                <div class="pd_btn01"><a href="https://play.google.com/store/apps/details?id=com.flowns.dev.gongsapd.commercial" target="_blank"><img src="/assets/images/pd_mo_google.png" alt="google_icon"></a></div>
                <div class="pd_btn02"><a href="https://itunes.apple.com/kr/app/id1378463049" target="_blank"><img src="/assets/images/pd_mo_app.png" alt="app_icon"></a></div>                
                <div class="pd_btn_under_txt">
                    대한민국 공사의 시작과 끝, 공사피디 앱 다운받기
                </div>
              </div>
            </div>
              <img class="pd_con" src="/assets/images/pd_mo02.png" alt="flowns_image">
              <img class="pd_con" src="/assets/images/pd_mo03.png" alt="flowns_image">      
          </div>

      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>
