
<ion-menu side="start" menuId="mobile_header" class="my-custom-menu" type="overlay">
  <ion-header>
    <ion-toolbar class="mobile_lnb">
      <ion-title>
        <ion-menu-button class="mo_close" (click) = "closeMobileMenu()" autoHide="true"><span>close</span></ion-menu-button>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="mo_wrap">
    <!-- <ion-list class="snb_list">
      <ion-item (click)='sideMenu("side_menu_1")'>
        플로언스
      </ion-item>
      <ion-list id="side_menu_1" class="side_menu">
        <ion-item><a href="/about">회사소개</a></ion-item>
        <ion-item><a href="/history">히스토리</a></ion-item>
      </ion-list>
      <ion-item (click)='sideMenu("side_menu_2")'>
        플로언서
      </ion-item>
      <ion-list id="side_menu_2" class="side_menu">
        <ion-item><a href="/flownser">플로언서</a></ion-item>
        <ion-item><a href="/recruit">채용안내</a></ion-item>
      </ion-list>
      <ion-item (click)='sideMenu("side_menu_3")'>
        플로그인
      </ion-item>
      <ion-list id="side_menu_3" class="side_menu">
        <ion-item><a href="/rednote">레드노트</a></ion-item>
        <ion-item><a href="/flogram">플로그램</a></ion-item>
      </ion-list>
      <ion-item><a href="/gongsapd">공사피디</a></ion-item>
      <ion-item><a href="/board">공지사항</a></ion-item>
      <ion-item><a href="/contact">제휴문의</a></ion-item>
    </ion-list> -->
    <div class="snb_list">
      <!-- <div (click)='sideMenu("side_menu_1")'> -->
      <div (click)='sideMenu($event)' data-sideMenu="side_menu_1">
        플로언스 <span class="snb_icon">+</span>
      </div>
      <ul id="side_menu_1" class="side_menu">
        <li><a href="/about">회사소개</a></li>
        <li><a href="/history">히스토리</a></li>
      </ul>
      <!-- <div (click)='sideMenu("side_menu_2")'> -->
      <div (click)='sideMenu($event)' data-sideMenu="side_menu_2">
        플로언서 <span class="snb_icon">+</span>
      </div>
      <ul id="side_menu_2" class="side_menu">
        <li><a href="/flownser">플로언서</a></li>
        <li><a href="/recruit">채용안내</a></li>
      </ul>
      <!-- <div (click)='sideMenu("side_menu_3")'> -->
      <!-- <div (click)='sideMenu($event)' data-sideMenu="side_menu_3">
        플로그인 <span class="snb_icon">+</span>
      </div>
      <ul id="side_menu_3" class="side_menu">
        <li><a href="/rednote">레드노트</a></li>
        <li><a href="/flogram">플로그램</a></li>
      </ul> -->
      <div class="list_1depth"><a href="/rednote">레드노트</a></div>
      <div class="list_1depth"><a href="/gongsapd">공사피디</a></div>
      <div class="list_1depth"><a href="/board">공지사항</a></div>
      <div class="list_1depth"><a href="/contact">제휴문의</a></div>
    </div>
    <div class="snb_sns">
      <ul>
        <li><a href="https://blog.naver.com/04-pd" target="_blank"><img src="/assets/images/mo_sns01.png" alt="icon"></a></li>
        <li><a href="https://blog.naver.com/04-fd" target="_blank"><img src="/assets/images/official_blog_002.png" alt="icon"></a></li>
        <li><a href="https://blog.naver.com/04fd-edu" target="_blank"><img src="/assets/images/official_blog_001.png" alt="icon"></a></li>
      </ul>
    </div>
  </ion-content>
</ion-menu>  
<ion-router-outlet main></ion-router-outlet>

<ion-header>
  <ion-toolbar>
    <ion-title><a href="/" class="mo_logo"><img src="/assets/images/header_logo.png" alt="logo"></a></ion-title>    
    <ion-buttons slot="end">
      <ion-menu-button class="mo_ham_btn" (click) = "openMobileMenu()" autoHide="true"><span>mobile_menu_btn</span></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>