<admin-template></admin-template>
<ion-content class="admin_bg">
  <div class="margin_left_menu">
    <div class="wrap_admin_detail wrap_admin_event">
      <table>
        <tr>
          <th class="ad_detail_th">제목</th>
          <td>
            <!-- <input type=text value="{{data?.event_name}}" readonly=true> -->
            <ion-input type=text value="{{data?.event_name}}" readonly=true></ion-input>
          </td>
        </tr>
        <tr>
          <th class="ad_detail_th">사용자 이름</th>
          <td>
              <!-- <input value="{{data?.worker_name}}" readonly=true> -->
              <ion-input type=text value="{{data?.worker_name}}" readonly=true></ion-input>
          </td>
        </tr>
        <tr>
          <th class="ad_detail_th">email</th>
          <td>
              <!-- <input value="{{data?.email}}" readonly=true> -->
              <ion-input type=text value="{{data?.email}}" readonly=true></ion-input>
          </td>
        </tr>
        <tr>
          <th class="ad_detail_th">연락처</th>
          <td>
              <!-- <input value="{{data?.mobile}}" readonly=true> -->
              <ion-input type=text value="{{data?.mobile}}" readonly=true></ion-input>
          </td>
        </tr>
        <tr>
          <th class="ad_detail_th">활동명</th>
          <td>
              <!-- <input value="{{data?.nickname}}" readonly=true> -->
              <ion-input type=text value="{{data?.nickname}}" readonly=true></ion-input>
          </td>
        </tr>
        <tr>
          <th class="ad_detail_th">상태</th>
          <td>
              <!-- <input value="{{data?.status =='SEND' ? '제공' : '비제공'}}" readonly={{is_readonly}} 
              [hidden]="!is_readonly"> -->
              <ion-input type=text value="{{data?.status =='SEND' ? '제공' : '비제공'}}" readonly=true></ion-input>
              <select id=is_status_select [hidden]="is_readonly">
                <option value="UNSEND" [selected]="data?.status=='UNSEND'">비제공</option>
                <option value="SEND" [selected]="data?.status=='SEND'">제공</option>
              </select>
          </td>
        </tr>
      </table>
        <div class="btns fr">
          <button #action_button (click)=button_action($event)>수정</button>
        </div>
      </div>
    
  </div>
</ion-content>
