<admin-template></admin-template>
<ion-content class="admin_bg">
  <div class="margin_left_menu">    
    <div class="wrap_admin_detail wrap_admin_contact">
      <table>
        <tr>
          <th class="ad_detail_th">이름</th>
          <td>
            <ion-input type=text value="{{data?.name}}" readonly={{is_readonly}}></ion-input>
          </td>
        </tr>
        <tr>
          <th class="ad_detail_th">연락처</th>
          <td>
            <ion-input value="{{data?.contact}}" readonly={{is_readonly}}></ion-input>
          </td>
        </tr>
        <tr>
          <th class="ad_detail_th">내용</th>
          <td>
            <ion-input value="{{data?.memo}}" readonly={{is_readonly}}></ion-input>
          </td>
        </tr>
        <tr>
          <th class="ad_detail_th">날짜</th>
          <td>
            <ion-input value="{{data?.reg_date.split('T')[0]}}" readonly={{is_readonly}}></ion-input>
          </td>
        </tr>
        <tr [hidden]="is_readonly">
          <th class="ad_detail_th">확인여부</th>
          <td>
            <select id="is_confirm_select">
              <option value=false [selected]="data?.status=='UNREAD'">미확인</option>
              <option value=true [selected]="data?.status=='READ'">확인</option>
            </select>
          </td>
        </tr>
      </table>
      </div>

    </div>
  </ion-content>
