<app-header></app-header>
<app-header-mobile></app-header-mobile>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div id="wrap_about">
          <!------ sub_top_wrap 공통------------->
          <div id="sub_top_wrap">
            <div class="sub_top_box01">
              <img src="/assets/images/top_icon.png" alt="image">
              <p class="sub_top_s">About Us</p>
              <p class="sub_top_b">소통의 순환 공간의 창출</p>
            </div>
            <div class="sub_top_box02">
                <p class="sub_top_m">플로언스는 <span>플랫폼 비지니스</span>를 기반으로 <span>협업과 상생</span>의 사회를 만드는데 힘씁니다.</p>
            </div>
          </div>
          <!------ sub_top_wrap end------------->
          <div class="sub_container about_con01">
            <div class="subtitle_box">
              <p class="subtitle01">회사소개<em>line</em></p>
              <p class="subtitle02">
                플로언스는 FLOW와 NS가 합쳐진 합성어로<br>2017년 11월 전사원의 뜻을 모아 지어진 이름입니다.<br><br>

                플로언스의 개성있는 플로언서<br>
                플로언서가 만드는 훌륭한 제품과 서비스<br>
                이에 자석처럼 마음이 끌리는 사람들<br><br>

                플로언스는<br>
                "좋은 인재가 좋은 상품과 서비스를 만들고<br>
                좋은 상품과 서비스가 좋은 인재를 이끔"을 믿습니다.<br><br>

                이 '끌림(NS)의 순환(Flow)'을 바탕으로<br>
                FlowNS(플로언스)가 만들어졌습니다.<br><br>

                플로언스의 구성원들은<br>
                매력있는 Flowenser(플로언서)이자<br>
                영향력있는 Fluencer(플루언서)입니다.<br><br>

                "Follow Us, FlowNS"
              </p>
            </div>
              <img src="/assets/images/about_img02.png" alt="image">
          </div>

          <div class="about_con02">
            <p>끌림 (NS)의 순환 (Flow)을 통해 <br>새로운 공간 공사피디를 만들어 나가는 곳</p>
            <a href="/history">플로언스 지나온 길 보러가기</a>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>
