    <a class="header_logo" href="/"><img src="/assets/images/header_logo.png" alt="logo"></a>

    <div id="wrap_nav">
        <a class="header_logo" href="/"><img src="/assets/images/header_logo.png" alt="logo"></a>
        <div id="wrap_top">
          <div class="wrap_top_inner">
            <a class="top_menu top01 s_about s_history" href="/about" (mouseover)="mouse_over($event)">플로언스</a>
            <a class="top_menu top02 s_flownser s_recruit" href="/flownser" (mouseover)="mouse_over($event)">플로언서</a>
            <!-- <a class="top_menu top03 s_rednote s_flogram" href="/rednote" (mouseover)="mouse_over($event)">플로그인</a> -->
            <a class="top_menu top03 s_rednote" href="/rednote" (mouseover)="mouse_over($event)">레드노트</a>
            <a class="top_menu top04 s_gongsapd" href="/gongsapd" (mouseover)="mouse_over($event)">공사피디</a>
            <a class="top_menu top05 s_board" href="/board" (mouseover)="mouse_over($event)">공지사항</a>
          </div>
        </div>

        <div id="sub_drop01" class="drop_wrap sub_drop01" (mouseleave)="mouse_leave()">
          <ul class="sub_drop">
            <li><a class="sub_menu s_about" href="/about" (mouseover)="mouse_over($event)">회사소개</a></li>
            <li><a class="sub_menu s_history" href="/history" (mouseover)="mouse_over($event)">히스토리</a></li>
          </ul>
        </div>

        <div id="sub_drop02" class="drop_wrap sub_drop02" (mouseleave)="mouse_leave()">
          <ul class="sub_drop">
            <li><a class="sub_menu s_flownser" href="/flownser" (mouseover)="mouse_over($event)">플로언서</a></li>
            <li><a class="sub_menu s_recruit" href="/recruit" (mouseover)="mouse_over($event)">채용안내</a></li>
          </ul>
        </div>

        <!-- <div id="sub_drop03" class="drop_wrap sub_drop03" (mouseleave)="mouse_leave()">
          <ul class="sub_drop">
            <li><a class="sub_menu s_rednote" href="/rednote" (mouseover)="mouse_over($event)">레드노트</a></li>
            <li><a class="sub_menu s_flogram" href="/flogram" (mouseover)="mouse_over($event)">플로그램</a></li>
          </ul>
        </div> -->
        <div class="bg"></div>
        <!-- <ul class="nav_sns">
          <li><a href="http://04-pd.com/" target="_blank"><img src="/assets/images/nav_sns01.png" alt="image"></a></li>
          <li><a href="https://blog.naver.com/flowns_" target="_blank"><img src="/assets/images/nav_sns02.png" alt="image"></a></li>
          <li><a href="https://www.instagram.com/flowns_/" target="_blank"><img src="/assets/images/nav_sns03.png" alt="image"></a></li>
        </ul> -->
          
          <!-- <nav>
            <ul>
              <li><a href="/about">플로언스</a>
                <ul>
                    <li><a href="/about">회사소개</a></li>
                    <li><a href="/history">히스토리</a></li>
                     <li><a href="#">Web Design</a>
                      <ul>
                        <li><a href="#">HTML</a></li>
                        <li><a href="#">CSS</a></li>
                      </ul>
                    </li>  
                  </ul>
              </li>
              <li><a href="/flownser">플로언서</a>
                <ul>
                  <li><a href="/flownser">플로언서</a></li>
                  <li><a href="/recruit">채용안내</a></li>
                </ul>
              </li>
              <li><a href="/rednote">플로그인</a>
                <ul>
                  <li><a href="/rednote">레드노트</a></li>
                  <li><a href="/flogram">플로그램</a></li>
                </ul>
              </li>
              <li><a href="/gongsapd">공사피디</a></li>
              <li><a href="/board">공지사항</a></li>
            </ul>
          </nav> -->

          
    </div>
