<app-header></app-header>
<app-header-mobile></app-header-mobile>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div id="wrap_flownser">
          <!------ sub_top_wrap 공통------------->
          <div id="sub_top_wrap">
            <div class="sub_top_box01">
              <img src="/assets/images/top_icon.png" alt="image">
              <p class="sub_top_s">플로언서</p>
              <p class="sub_top_b">The motto of a Flowenser</p>
            </div>
            <div class="sub_top_box02">
              <p class="sub_top_m">우리는 우리가 만드는 <span>제품</span>과 <span>서비스</span>가 세상에 무슨 <span>가치</span>와 <span>이로움</span>을 남길지 함께 고민하고, <br>그 <span>목소리</span>를 세상에 널리 알리고 넓히기 위해 <span>노력</span>합니다.</p>
            </div>
          </div>

          <div id="flownser_contents">
            <div class="flownser_inner">
              <ion-grid class="flownser_box" *ngFor="let data of data_list">
                <div class="flownser_title">
                  <p class="fl_title01">{{data.title}}<em>line</em></p>
                  <p class="fl_title02">{{data.sub_title}}</p>
                </div>
                  <ion-row class="fl_card_ul">
                    <ion-col *ngFor="let flownser of data.flownsers">
                      <ion-card class="fl_card_li">
                        <div class="fl_card_img"><img src="assets/{{flownser.profile}}" alt="flowns_img"></div>
                        <div class="fl_card_con">
                          <div class="tri"></div>
                          <img class="character" src="assets/{{flownser.characters}}" alt="flowns_img">
                          <p class="fl_card_p01"><span>{{flownser.name}}</span>{{flownser.info}}</p>
                          <p class="fl_card_p02">{{flownser.explanation}}</p>
                        </div>
                      </ion-card>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>
