<app-header></app-header>
<app-header-mobile></app-header-mobile>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div id="wrap_history">
          <!------ sub_top_wrap 공통------------->
          <div id="sub_top_wrap">
            <div class="sub_top_box01">
              <img src="/assets/images/top_icon.png" alt="icon">
              <p class="sub_top_s">Footprints</p>
              <p class="sub_top_b">플로언스가 지나온 길</p>
            </div>
            <div class="sub_top_box02">
                <p class="sub_top_m"><span class="m_bold">플로언서</span>를 만나다 <span>공사피디</span>를 만들다</p>
            </div>
          </div>
          <!------ sub_top_wrap end------------->
          <div class="sub_container his_con01">
            <div class="subtitle_box">
              <p class="subtitle01">히스토리<em>line</em></p>
              <p class="subtitle02">플로언스와 플로언서가 세상에 남긴 발자국과 목소리를 확인해보세요.</p>
            </div>
          </div>

          <div class="his_con02">
              <div class="his_table_wrap">
                <div class="his_table_title">
                  <img src="/assets/images/history_icon02.png"><p>소통의 순환, 공간의 창출</p>
                </div>
                <table class="his_table">
                  <colgroup>
                    <col width="12%">
                    <col width="10%">
                    <col width="78%">
                  </colgroup>
                  <tbody>
                    <tr class="year">
                      <th>2017년</th>
                      <td class="his_td01">11월</td>
                      <td><span>주식회사 플로언스 설립</span></td>
                    </tr>
                    <tr class="year_less">
                      <th></th>
                      <td class="his_td01">12월</td>
                      <td>
                        <span>공사PD 상표 등록 출원</span>
                        <span>공사PD 클로즈 베타서비스 출시</span>
                      </td>
                    </tr>
                    <tr class="year">
                      <th>2018년</th>
                      <td class="his_td01">02월</td>
                      <td><span>플로언스 김철민 대표 국내 4차 산업 10대 분야 100인 선정</span></td>
                    </tr>
                    <tr class="year_less">
                      <th></th>
                      <td class="his_td01">03월</td>
                      <td>
                        <span>개인 엔젤 투자 유치</span>
                        <span>기업 부설 연구소 설립</span>
                      </td>
                    </tr>
                    <tr class="year_less">
                      <th></th>
                      <td class="his_td01">07월</td>
                      <td><span>공사PD 오픈 베타서비스 출시</span></td>
                    </tr>
                    <tr class="year_less">
                      <th></th>
                      <td class="his_td01">08월</td>
                      <td><span>공사PD 누적 다운로드 7천건 돌파</span></td>
                    </tr>
                    <tr class="year_less">
                      <th></th>
                      <td class="his_td01">10월</td>
                      <td>
                        <span>주식회사 공사FD 자회사 설립</span>
                        <span>공사FD 상표 등록 출원</span>
                        <span>빛나는 MC와 건설서비스 자격증 교육 사업 MOU 체결</span>
                      </td>
                    </tr>
                    <tr class="year_less">
                      <th></th>
                      <td class="his_td01">11월</td>
                      <td>
                        <span>제 1차 공사FD 호남 STATION 컨퍼런스 개최</span>
                        <span>한국친환경기술협동조합 LED 조명 및 친환경 융복합 전자제품 마케팅 활성화 위한 공동협력 업무협약서 체결</span>
                        <span>플로언스 김철민 대표 성결대학교 산학협력 자문위원 위촉</span>
                        <span>국토부(NCS)자격증 인가(한국서비스 진흥원)</span>
                      </td>
                    </tr>
                    <tr class="year_less">
                      <th></th>
                      <td class="his_td01">12월</td>
                      <td>
                        <span>공사FD 2018 대한민국 사회공헌대상 소방청장상 수상</span>
                        <span>공사PD 누적 다운로드 2만건 돌파</span>
                      </td>
                    </tr>
                    <tr class="year">
                      <th>2019년</th>
                      <td class="his_td01">01월</td>
                      <td>
                        <span>한국미술협회 미래 지향적 사업모델 구축을 위한   전략적 업무협약</span>
                        <span>공사FD 전국 예비지사장 서비스 및 직무교육</span>
                      </td>
                    </tr>
                    <tr class="year_less">
                        <th></th>
                        <td class="his_td01">02월</td>
                        <td>
                          <span>플로언스 김철민 대표 대한민국 국회 산학연구부문 공로 표창</span>
                          <span>플로언스 김철민 대표 인문사회과학예술융합학회 학술이사 위촉</span>
                          <span>대한민국 서비스기반 4차산업포럼 건설서비스 부문 10인 선도위원 위촉 (플로언스 정근태 부사장, 공사FD 이완오 전무, 공사FD 고수향 상무)</span>
                          <span>제2차 공사FD 서울·경기 STATION 컨퍼런스 개최</span>
                          <span>대한황실문화원 황실 브랜드 개발 및 보급 위한 프로젝트 공동협력 MOU 체결</span>
                          <span>대한민국 서비스기반 4차산업포럼 건설서비스 부문 10인 선도위원 위촉 (플로언스 정근태 부사장, 공사FD 이완오 전무, 공사FD 고수향 상무)</span>
                        </td>
                    </tr>
                    <tr class="year_less">
                        <th></th>
                        <td class="his_td01">03월</td>
                        <td>
                          <span>공사FD '한국철도기술연구원' 4차산업 세미나 개최</span>
                          <span>빛나는 MC 건설서비스 자격증 교육 사업 내 상호협력을 위한 MOU 체결</span>
                          <span>플로언스 김철민 대표 법무부 보호관찰위원 위촉</span>
                          <span>플로언스 김철민 대표 인문사회과학예술융합학회 4차산업위원회 위원장 위촉</span>
                        </td>
                    </tr>
                    <tr class="year_less">
                      <th></th>
                      <td class="his_td01">04월</td>
                      <td>
                        <span>공사PD 정식 베타서비스 출시</span>
                        <span>공사FD 평생교육원 정식 출범</span>
                        <span>디티앤인베스트먼트 시드 투자 유치</span>
                      </td>
                    </tr>
                    <tr class="year_less">
                      <th></th>
                      <td class="his_td01">05월</td>
                      <td>
                        <span>공사FD 공사관리인(N기) 37명 배출(평생교육원)</span>
                      </td>
                    </tr>
                    <tr class="year_less">
                      <th></th>
                      <td class="his_td01">06월</td>
                      <td>
                        <span>공사FD 공사관리인(1기) 35명 배출(평생교육원)</span>
                      </td>
                    </tr>
                    <tr class="year_less">
                      <th></th>
                      <td class="his_td01">08월</td>
                      <td>
                        <span>기업 투자 유치</span>
                        <span>공사피디 그랜드 오픈 출시</span>
                        <span>공사FD 서울 스테이션 출범</span>
                        <span>공사FD 경기 스테이션 출범</span>
                        <span>공사FD 영남 스테이션 출범</span>
                        <span>공사FD 강원 스테이션 출범</span>
                        <span>공사FD 호남 스테이션 출범</span>
                        <span>전국 공사FD스테이션 공사관리인 대상 현장교육 1차 진행 (서비스메뉴얼 및 성범죄 예방 교육)</span>
                        <span>대한민국 국회 국토교통위원회 위원장 표창(김철민대표)</span>
                        <span>'2019 4차 산업포럼 미래직업설계 창작대회'에서 &lt;4차 산업혁명 시대, 꿈꾸는 공간을 창출해주는 새로운 직업, Hear-Oh&gt; 주제로 강연</span>                        
                      </td>
                    </tr>
                    <tr class="year_less">
                      <th></th>
                      <td class="his_td01">09월</td>
                      <td>
                        <span>
                          공사 다맡기기 서비스 론칭 서비스명 변경<br>
                          'FD요원' → '공사히어로', 'FD서비스' → '공사 다맡기기'
                        </span>
                        <span>공사PD 누적 다운로드 5만건 돌파</span>
                        <span>
                          전국 공사FD스테이션 공사관리인 대상 현장교육 2차 진행<br>
                          (이미지메이킹, 커뮤니케이션 등 CS교육 / IT산업의 이해, 채널 활용법 등)
                        </span>
                        <span>전국 공사FD스테이션 사업간담회 및 미래전략 포럼 개최</span>
                      </td>
                    </tr>
                    <tr class="year_less">
                      <th></th>
                      <td class="his_td01">10월</td>
                      <td>
                        <span>공사FD 공사관리인(2기) 14명 배출(평생교육원)</span>
                      </td>
                    </tr>
                    <tr class="year_less">
                      <th></th>
                      <td class="his_td01">11월</td>
                      <td>
                        <span>플로언스 김철민 대표 2019 대한민국 사회공헌 대상 수상(중소벤처기업부장관)</span>
                      </td>
                    </tr>
                    <tr class="year_less">
                      <th></th>
                      <td class="his_td01">12월</td>
                      <td>
                        <span>공사PD 채널 서비스 전면 무료화</span>
                        <span>현장 안전 캠페인 전개</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div><!-- his_con02 End -->

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>
