<app-header></app-header>
<app-header-mobile></app-header-mobile>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
          <div id="wrap_contact">
            <!------ sub_top_wrap 공통------------->
            <div id="sub_top_wrap">
              <div class="sub_top_box01">
                <img src="/assets/images/top_icon.png" alt="image">
                <p class="sub_top_s">Get in touch</p>
                <p class="sub_top_b">플로언스에게 연락하기</p>
              </div>
              <div class="sub_top_box02">
                <p class="sub_top_m">플로언스의 문은 활짝 열려있습니다</p>
              </div>
            </div>
            <!------ sub_top_wrap end------------->
            <div class="contact_box">
              <div class="sub_container contact_con01">
                <div class="contact_form">
                  <div class="input_low">
                    <label class="contact_1"><p class="contact_p">성함</p><input type="text" id="name" name="name" placeholder="성함을 입력해주세요" [(ngModel)]="name_input"></label>
                  </div>
                  <div class="input_low">
                    <label class="contact_2"><p class="contact_p">연락처<span>( 메일, 휴대폰번호 )</span></p><input type="text" id="contact" name="contact" placeholder="연락처를 입력해주세요" [(ngModel)]="contact_input"></label>
                  </div>
                  <div class="input_low">
                    <label class="contact_3"><p class="contact_p">내용</p><textarea class="contact_3" type="text" id="memo" name="memo" placeholder="내용을 입력해주세요" [(ngModel)]="memo_input"></textarea></label>
                  </div>
                </div>
                <a class="submit_btn contact_submit" style="cursor:pointer;" (click)="submit();">
                  <p>문의하기<img src="/assets/images/arrow.png" alt="buttun_icon"></p>
                </a>
              </div>
            </div>
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>
