<app-header></app-header>
<app-header-mobile></app-header-mobile>
<ion-content #ion_rednote_content [scrollEvents]="true" direction="y" (ionScroll)="scrollPaging($event)">
  <ion-grid>
    <ion-row>
      <ion-col>
          <div id="wrap_rednote">
            <!------ sub_top_wrap 공통------------->
            <div id="sub_top_wrap">
              <div class="sub_top_box01">
                <img src="/assets/images/top_icon.png" alt="image">
                <p class="sub_top_s">Red Note</p>
                <p class="sub_top_b">플로언스의 주요 소식</p>
              </div>
              <div class="sub_top_box02">
                <p class="sub_top_m"><span>플로언스</span>의 주요 소식을 전달 해드립니다</p>
              </div>
            </div>
            <!------ sub_top_wrap end------------->
            <div id="rednote_contents">
              <div class="rednote_inner">
                <ul>
                  <li *ngFor="let data of rednote.rednote_data">
                    <a href="{{data?.nv_url}}" target="_blank">
                      <div class="over"><div><img src="/assets/images/more_icon.png" alt="flowns_image">바로보기</div></div>
                      <!-- <div class="rednote_img"><img src="/assets/{{data?.attachment}}" alt="flowns_image"></div> -->
                      <div class="rednote_img"><img src="{{data?.attachment}}" alt="flowns_image"></div>
                      <div class="rednote_p">
                        <div class="rednote_p01">{{fn_htmldecode(data?.title)}}</div>
                        <!-- <div class="rednote_p02"><p [innerHTML]="data?.content | safeHtml: 'html'"></p></div> -->
                        <!-- <div class="rednote_p02" ng-bind-html="data?.content"></div> -->
                        <div class="rednote_p02">
                          <p>{{fn_htmldecode(data?.content)}}</p>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>