
  <ion-menu side="start" menuId="custom" class="my-custom-menu" type="overlay">
    <ion-header>
      <ion-toolbar class="mobile_lnb">
        <ion-title>
          <ion-menu-button class="mo_close" (click) = "openEnd()" autoHide="true"><span>close</span></ion-menu-button>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>플로언스</ion-item>
        <ion-item>플로언서</ion-item>
        <ion-item>플로그인</ion-item>
        <ion-item><a href="/gongsapd">공사피디</a></ion-item>
        <!-- <ion-item><a href="/board">공지사항</a></ion-item> -->
        <ion-item><a href="/contact">제휴문의</a></ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>  
  <ion-router-outlet main></ion-router-outlet>

<ion-header>
  <ion-toolbar>
    <ion-title><a href="/" class="mo_logo"><img src="/assets/images/mobile_img01.png" alt="logo"></a></ion-title>    
    <ion-buttons slot="end">
      <ion-menu-button class="mo_ham_btn" (click) = "openCustom()" autoHide="true"><span>mobile_menu_btn</span></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


