@import url("http://fonts.googleapis.com/earlyaccess/notosanskr.css");

//////////////reset///////////////
*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  font-size:14px;
  line-height:1.4em;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  color: #3b3b3b;
  letter-spacing: -1px;
  word-break: keep-all;
  text-rendering: auto !important;
}
 html, body {
  height:100%;  
}
a, a:hover{
  text-decoration:none !important;
}
ul, li{
  list-style:none;
}
img{
  border:0;
}
@mixin clearfix{
  &::after{
    content:"";
    clear: both;
    display: table;
  } 
}
@mixin readonly {
  input:-webkit-read-only{
    border: none !important;
  }
  input:-moz-read-only{
    border: none !important;
  }
  input:read-only{
    border: none !important;
    outline: none !important;
  }
  textarea:-webkit-read-only{
    border: none !important;
    box-shadow: none !important;
  }
  textarea:-moz-read-only{
    border: none !important;
    box-shadow: none !important;
  }
  textarea:read-only{
    border: none !important;
    outline: none !important;
    box-shadow: none !important; 
  }
}
//////////////header///////////////
nav {
  text-align:center;
  width: 100%;
  background: #fff;
  padding: 0;
  margin: 0;
  height: 80px;
  position:relative;
  ul {
    background: #fff;
    list-style:none;
    padding:0 20px;
    margin: 0;
    height: 80px;  
    
    li{
      display: inline-block;
      &:hover {
        > a{
          color:#ff0000;
        }
        > ul {
          display:block;
        }
      }
      a {
        font-size: 18px;
        color:#333333;
        display:block;
        padding:0px 40px;
        text-decoration:none;
        float: left;
        height: 80px;
        line-height: 80px;
        color: #282a37;
        font-weight: 400;
      }
    }

    ul {
      background: #f1f1f1;
      padding:0;
      text-align: center;
      display:none;
      width: 100%;
      position: absolute;
      top: 80px;
      left: 0px;
      z-index: 9999;
    }
  }
}

//////////////////////////////////
ion-header{
  z-index: 50;
}
#lnb{ 
  text-align: center;

  ion-chip{
    padding: 0 10px;
    margin: 0 20px;
    font-size: 18px;
    color: #2f2f31;
    background: transparent;
    font-weight: 400;

      &:hover{
        color: #ff0000 !important;
      }
  }
}
.header-ios ion-toolbar:last-child{
  padding: 2vw 0;
}
.header {
  &_logo{
    position: absolute;
    z-index: 15;
    top: 23px;
    left: 15px;
  }
  
}
#wrap_top {
  width: 100%;
  background: #fff;
  text-align: center;
  position: relative;
  z-index: 10;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}
.wrap_top_inner {
  a{
    padding: 28px 20px;
    display: inline-block;
    margin-left: -6px;
    font-size: 18px;
    color: #282a37;
    font-weight: 400;
  }  
}
.active_menu {
  color: #f4364c !important;
}
.drop_wrap {
  /* position: absolute; */
  position: absolute;
  width: 100%;
  display: none;
  background: #efefef;
  -webkit-transition: all ease-in 0.4s;
  -o-transition: all ease-in 0.4s;
  transition: all ease-in 0.4s;
  -webkit-animation: ani ease-in 0.6s;
  animation: ani ease-in 0.6s;
  z-index: 10;
  .sub_drop {
    text-align: center;
    width: auto;
    display: table;
    margin: 0 auto;
    padding: 0;
    li{
      display: inline-block;
      padding: 20px;
      a{
        font-size: 18px;
        color: #282a37;
        font-weight: 400;
      }
    }
  }
  &_show{
    display: block;
    -webkit-transition: all ease-in 0.4s;
    -o-transition: all ease-in 0.4s;
    transition: all ease-in 0.4s;
    -webkit-animation: ani ease-in 0.6s;
    animation: ani ease-in 0.6s;
  }
}
.bg {
  background: #f1f1f1;
  width: 100%;
  height: 61px;
  /* display: none; */
  position: absolute;
  top: -61px;
  -webkit-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
}
.nav_sns {
  position: absolute;
  float: right;
  margin: 12px;
  right: 0;
  top: 0;
  z-index: 15;
  li{
    float: left;
    a{
      width: 100%;
      display: inline-block;
      margin: 0 12px;
    }
  }
}

//////////////footer///////////////
#footer {
  border-top: 1px solid #f4f4f4;
}
.footer{
  &_inner{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 30px 42px;
    display: table;
  }
  &01 {
    float: left;
    li{
      line-height: 2;
      font-weight: bold;
    }
  }
  &02 {
    float: right;
    margin-top: 32px;
    a{
      padding: 10px 20px;
      background: #f1f1f1;
      border-radius: 50px;
      font-weight: 400;
      font-size: 20px;
      border: 2px solid #cacaca;
      color: #3b3b3b;
      img{
        vertical-align: middle;
        margin-top: -5px;
        margin-right: 10px;
      }
    }
  }
  
}

///////////////main//////////////
.main_con01 {
  background: url('/assets/images/main_img.jpg') no-repeat center center;
  width: 100%;
  text-align: center;
  position: relative;
  padding: 5% 30px;
  background-size: cover;
    h3{
      color: #fff;
      font-size: 25px;
      margin-bottom: 43px;
      font-weight: 300;
        span{
          color: #fff;
          font-size: 25px;
          font-weight: bold;
        }
    }
}
.logo_w{
	position: absolute;
	top: 0;
	left: 0;
	padding: 24px 15px;
}

.main{

  &_btn{
    a{
      font-size: 20px;
      display: inline-block;
      width: 241px;
      height: 64px;
      text-align: center;
      margin: 0 10px;
      font-weight: 300;
      padding: 15px 0;
      vertical-align: middle;
    }
  }
  &_img02{
    margin: 90px 0 60px 0;
  }
  &_btn01{
    border: 1px solid #f4364c;
    color: #f4364c;
  }
  &_btn02{
    color: #fff;
    border: 1px solid #f4364c;
    background: #f4364c;
  }
  &_con02{
    .main_inner{
      max-width: 1600px;
      width: 100%;
      margin: 0 auto;
      padding-top: 67px;
    }
    .main_card{
      float: left;
      width: 25%;
      margin: 0 !important;
      /* height: 576px; */
      height: 30vw;
      position: relative;
      padding: 10px;
      border-radius: 0;
      a{
        width: 100%;
        height: 100%;
        display: block;
        &:hover .ani_bar{
          margin: 0;
        }
      }
    }
  }
  &_card01{
    background: url('/assets/images/main_card01.jpg') no-repeat center center;
    @extend .card_bg;
  }
  &_card02 {
    background: url('/assets/images/main_card02.jpg') no-repeat center center;
    @extend .card_bg;
  }
  &_card03 {
    background: url('/assets/images/main_card03.jpg') no-repeat center center;
    @extend .card_bg;
  }
  &_card04 {
    background: url('/assets/images/main_card04.jpg') no-repeat center center;
    @extend .card_bg;
  }
  &_card_b{
    font-size: 35px;
    color: #fff;
    letter-spacing: -5px;
  }
  &_card_s{
    margin-top: 45px;
    display: inline-block;
    img{
      display: inline-block;
      vertical-align: middle;
      margin-left:10px;
      width: auto;
    }
  }
  &_card_p{
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 17px;
    overflow: hidden;
      .ani_bar {
        width: 100%;
        height: 1px;
        background: #fff;
        display: block;
        text-indent: -9999px !important;
        margin-left: -100%;
        -webkit-transition: all ease 0.4s;
        -o-transition: all ease 0.4s;
        transition: all ease 0.4s;
      }
      span{
        font-size: 17px;
        font-weight: 400;
        color: #fff;
        display: inline-block;
        margin-bottom: 2px;
      }
  }
  &_con03 {
    width: 100%;
    max-width: 1030px;
    margin: 0 auto;
    padding: 48px 0;
    display: table;   
  }
}
.card_bg{
  background-size: cover;
}

.sns{
  &_area{
    display: inline-block;
    vertical-align: middle;
  }
  &_area01{
    width: 37%;
    float: left;
    @include clearfix;
  }
  &_area02{
    width: 63%;
    float: left;
    @include clearfix;
  }
  &_box{
    p{
      vertical-align: middle;
      padding: 10px 0;
      display: inline-block;
      margin-right: 6%;
      font-weight: bold;
      font-size: 20px;
      white-space: nowrap;
    }
  }
  &_area li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 1.5em;
  }
}

/* main award_contens_area 191125 +kyla */
.award_contens_area{
  width: 100%;
  padding-bottom: 30px;
}
.award_contens_area ul{
  width: 100%;
  margin: 0 auto;
  max-width: 75%;
  font-size: 0;
}
.award_contens_area ul li{
  width: 23%;
  margin: 0 1%;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}
.award_contens_area ul li img{
  display: inline-block;
  vertical-align: middle;
  margin-right: 2%;
  width: 75px;
}
.award_contens_area ul li p{
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  width: 62%;
  word-wrap: break-word;
  word-break: break-word;
}



/*=======================
border transition
==================*/
.border_ani {
  background: none;
  border: 0;
  box-sizing: border-box;
  padding: 1em 2em;
  font-size: inherit;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
    &::before, &::after{
      box-sizing: inherit;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all ease-out 0.5s;
      -o-transition: all ease-out 0.5s;
      -webkit-transition: all ease-out 0.5s;
      -ms-transition: all ease-out 0.5s;      
      transform-origin: left;
      -webkit-transform-origin: left;
      -ms-transform-origin: left;
      -o-transform-origin: left;
    }
    &:hover{
      color: #fff;
    }
    &:hover::before, &:hover::after{
      transform: scale3d(1, 1, 1);
      transition: transform ease-out 0.5s;
      -webkit-transition: transform ease-out 0.5s;
      -o-transition: transform ease-out 0.5s;
      -ms-transition: transform ease-out 0.5s;
    }
    &::before {
      border-top: 2px solid #fff;
      border-bottom: 2px solid #fff;
      transform: scale3d(0, 1, 1);
      -webkit-transform: scale3d(0, 1, 1);
      -ms-transform: scale3d(0, 1, 1);
      -o-transform: scale3d(0, 1, 1);
    }
    &::after {
      border-left: 2px solid #fff;
      border-right: 2px solid #fff;
      transform: scale3d(1, 0, 1);
      -webkit-transform: scale3d(1, 0, 1);
      -o-transform: scale3d(1, 0, 1);
      -ms-transform: scale3d(1, 0, 1);
    }
}
.buttons {
  isolation: isolate;
}

///////////////////about////////////////////

#sub_top_wrap {
  text-align: center;
  color: #fff;
}
@mixin sub_top_style{
  padding: 7% 0;
  background-size: cover;
  margin: 0 30px;
  height: auto;
  overflow: hidden;
  text-align: center;
  max-height: 542px;
    img{
    margin: 0 0 30px 0;
    @include sub_top_fade;
    }
}
@mixin sub_top_fade{
  -webkit-animation: ani_fadein 1.8s;
  animation: ani_fadein 1.8s;
}
@keyframes ani_fadein {
  0%{
    opacity:0;
  }
  20%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}


#wrap_about{
  .sub_top_box01{    
    background: url('/assets/images/top_about.jpg') no-repeat center center;
    @include sub_top_style;     
  }
  .sub_top_box02 {
    padding-right: 30px;
    padding-left: 30px;
  }
  .about_con02 {
    width: 100%;
    display: table;
    background: url('/assets/images/about_img01.jpg') no-repeat center center;
    color: #fff;
    text-align: center;
    padding: 7% 30px;
    p {
      color: #fff;
      font-size: 30px;
      margin-bottom: 45px;
    }
    a {
      font-size: 20px;
      color: #fff;
      background: #f4364c;
      height: 65px;
      border-radius: 100px;
      display: inline-block;
      vertical-align: middle;
      padding: 18px 31px;
    }
  }
}
.sub_top{
  &_s {
    color: #fff;
    font-size: 25px;
    margin-bottom: 40px;
    @include sub_top_fade;
  }
  &_b {
    color: #fff;
    font-size: 35px;
    font-weight: 400;
    @include sub_top_fade;
  }
  &_box02 {
    padding-right: 30px;
    padding-left: 30px;
  }
  &_m {
    font-size: 30px;
    margin: 100px 0;
    span{
      font-weight: bold;
      font-size: 30px;
    }
  }
}
.sub_container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.subtitle{
  &01 {
    font-size: 25px;
    color: #f4364c;
    font-weight: 400;
     em {
      text-indent: -99999px;
      width: 27px;
      background: #f4364c;
      height: 1px;
      display: block;
      margin-top: 12px;
    }
  }
  &02 {
    font-size: 25px;
    font-weight: 400;
    margin: 20px 0;
  }
}
.about_con01{
  img{
    display: block;
    margin: 150px auto;
  }
}

/////////////////////// history//////////////////////////

#wrap_history{
  .sub_top_box01{    
    background: url('/assets/images/top_history.jpg') no-repeat center center;
    @include sub_top_style;     
  }
  .about_con02{
    width: 100%;
    display: table;
    background: url('/assets/images/about_img01.jpg') no-repeat center center;
    color: #fff;
    text-align: center;
    padding: 7% 30px;
    p {
      color: #fff;
      font-size: 30px;
      margin-bottom: 45px;
    }
    a {
      font-size: 20px;
      color: #fff;
      background: #f4364c;
      height: 65px;
      border-radius: 100px;
      display: inline-block;
      vertical-align: middle;
      padding: 18px 31px;
    }
  }
}
.his{
  &_con02 {
    margin-top: 145px;
    padding-right: 30px;
    padding-left: 30px;
  }
  &_table_wrap {
    max-width: 1000px;
    width: 100%;
    display: block;
    margin: 0 auto 100px auto;
  }
  &_table {
    display: table;
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    th, td{
      padding: 14px 10px 10px 20px;
      color: #3b3b3b;
      vertical-align: top;
      line-height: 2;
    }
    td{
       span {
        font-size: 20px;
        margin-bottom: 20px;
        display: block;
        margin-top: 10px;
      }
    }
    th{
      white-space: nowrap;
      vertical-align: top;
      border-left: none;
      border-right: none;
      font-size: 25px;
      font-weight: 600;   
    }
    .his_td01 {
      font-size: 25px;
      font-weight: 600;
      padding: 14px 10px 10px 20px !important;
   }    
    tbody {
      border-bottom: 2px solid #f4364c;
      .year {
        background: #fff8f8;
        color: #3b3b3b;
      }
    }
    tr {
      border-bottom: 1px solid #f4364c;      
    }
  }
  &_table_title{
    color: #fff;
    font-size: 25px;
    background: #f4364c;
    padding: 18px 40px;
    img{
      margin: 0 3.7vw 0 0;
      display: inline-block;
      vertical-align: middle;
    }
    p{
      color: #fff;
      font-size: 25px;
      font-weight: 600;
      display: inline-block;
     vertical-align: middle;
    }
  }
}

//  IE 9 + 10 핵 
@media screen and (min-width:0\0){
  .his_table tr{
    display: table-caption;
    width: 100%;
  }
}

//////////////////flownser//////////////////////
#wrap_flownser  {
  .sub_top_box01{
    background: url('/assets/images/top_flownser.jpg') no-repeat center center;
    @include sub_top_style;
  }  
}
#flownser_contents {
  background: #f3f3f3;
  width: 100%;
  display: block;
  padding: 90px 30px;
}
.flownser{
  &_inner {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: table;
  }
  &_title {
    margin-bottom: 40px;
    .fl_title01 {
      font-size: 25px;
      color: #f4364c;
      font-weight: 400;
      em {
        text-indent: -999999px;
        background: #f4364c;
        height: 1px;
        width: 27px;
        margin-top: 10px;
        display: block;
        margin-bottom: 15px;
      }
    } 
    .fl_title02 {
      font-size: 25px;
      font-weight: 400;
    }
  }
}
.fl_card{
  &_li {
    float: left;
    margin-right: 2%;
    margin-bottom: 50px;
    background: #fff !important;
    min-height: 350px;
    &:nth-child(1){
      margin-left: 0;
    }
  }
  &_img{
    img{
      display: block;
      width: 100%;
    }
  }
  &_con {
    padding: 20px 10px;
    background: #fff;
    position: relative;
    .tri{
      width: 0px;
      height: 0px;
      border-bottom: 20px solid #fff;
      border-right: 15px solid transparent;
      border-left: 15px solid transparent;
      position: absolute;
      top: -17px;
      left: 40px;
    }
    .character {
      position: absolute;
      right: 10px;
      top: 18px;
      width: auto;
      visibility: hidden;
    }
  }

  &_p01 {
    padding-right: 70px;
    margin-bottom: 15px;
  }
  &_p01, &_p01 span {
    font-size: 25px;
    font-weight: 400;
    display: block;
  }
  &_p02 {
    color: #a2a2a2;
    font-size: 18px;
  }    
}

ion-row.fl_card_ul ion-col{
  width: 33.33%;
  display: inline-block;
}
ion-grid.flownser_box, ion-row.fl_card_ul{
  display: block;
  width: 100%;
}
///////////////////recruit//////////////////////
.sub_container{
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
#wrap_recruit{
  .sub_top_box01{    
    background: url('/assets/images/top_recruit.jpg') no-repeat center center;
    @include sub_top_style;     
  }
  .subtitle_box {
    margin-bottom: 80px;
  }
}

.re_box{
  &02, &03{
    .re_title{
      span{
        color: #f4364c;
        font-weight: 600;
        font-size: 60px;
        display: inline-block;
        vertical-align: middle;
        margin-top: -12px;
        margin-right: 10px;
      }
    }
  } 

  &_wrap {
    width: 100%;
    display: table;
    position: relative;
    .re_bg {
      color: #fff;
      div{
        color: #fff;
      }
      .re_title{
        color: #fff;
        margin-bottom: 15px;
        span{
          color: #fff;
          font-weight: 600;
          font-size: 60px;
          display: inline-block;
          vertical-align: middle;
          margin-top: -12px;
          margin-right: 10px;
        }
      }
    }
    li{
      div{
        font-size: 18px;
        display: table-cell;
        vertical-align: middle;
        padding: 20px;
      }      
    }
  }

  &_img {
    position: absolute;
    text-align: center;
    right: 50%;
    margin-right: -43.5px;
    top: 50%;
    margin-top: -43.5px;
  }

  &_wrap {
    li{
      width: 50%;
      display: table;
      float: left;
      height: 100%;
      min-height: 365px;
      text-align: center;
    }    
  }
}

.re{
  &_title {
    font-size: 40px;
    color: #6d6e75;
  }
  &_box01 {
    background: url('/assets/images/recruit01.png') no-repeat left top;
  }
  &_box04 {
    background: url('/assets/images/recruit01.png') no-repeat right bottom;
  }
  &_con02_ul{
    width: 100%;
    display: table;
      li {
      display: inline-block;
      vertical-align: top;
      text-align: center;
    }
      p {
      text-align: center;
      margin-top: -18px;
      font-size: 18px;
        span {
          font-size: 18.5px;
          color: #f4364c;
          font-weight: 600;
          display: block;
          margin-bottom: 15px;
        }
    }
  }
  &_con03_box {
    display: table;
    width: 100%;
    border: 1px solid #d7d7d7;
    background: #ededed;
    padding: 60px 50px;
    margin-bottom: 100px;
  }
  &_con03_ul li {
    font-size: 18px;
    display: inline-block;
    width: 25%;
    float: left;
    line-height: 2.5;
    padding-left: 5%;
    white-space: pre;
  }

  &_li_arrow {
    padding-top: 70px;
    width: 13.2%;
  }
  &_li {
    width: 14.5%;
  }
}
.recruit_con02, .recruit_con03 {
  margin-top: 220px;
}
.submit_btn, .contact_submit {
  text-align: center;
  background: #f4364c;
  display: table;
  margin: 0 auto;
  padding: 28px 12%;
  border-radius: 100px;
  margin-bottom: 100px;
  border: none;
  cursor: pointer;  
    p{
      color: #fff;
      font-size: 25px;
      margin-bottom: 0;
      &:first-child{
        color: #fff;
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 0;
      }
    }
    img{
      display: inline-block;
      vertical-align: top;
      margin-left: 10px;
    }
}

///////////////////rednote//////////////////////
#wrap_rednote {
  .sub_top_box01{
    background: url('/assets/images/top_redbook.jpg') no-repeat center center;
    @include sub_top_style;  
  }  
}
#rednote_contents {
  width: 100%;
  background: #f3f3f3;
  padding: 95px 30px 35px 30px;
}
.rednote{
  &_inner {
    width: 100%;
    max-width: 1000px;
    display: block;
    margin: 0 auto;
      ul {
        li{
          display: inline-block;
          width: 29%;
          // float: left;
          margin-right: 4%;
          background: #fff;
          overflow: hidden;
          position: relative;
          margin-bottom: 60px;
          min-height: 20vw;
        }        
      }
  }
  &_img {
    width: 100%;
    height: 200px;
    max-height: 200px;
    overflow: hidden;
    display: table;
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;
    position: relative;
    
    img {
      width: 100%;
      max-height: 200px;
      text-align: center;
      margin: 0 auto;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      overflow: hidden;      
    }
  }
  &_p {
    padding: 20px 6%;
  }
  &_p01 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 12px;
    overflow:hidden;
    height:75px;
  }
  &_p02 {
    font-size: 14px !important;
    overflow: hidden;
    -o-text-overflow: hidden;
    text-overflow: hidden;
    width: 100%;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    p, span{
      overflow: hidden;
      -o-text-overflow: hidden;
      text-overflow: hidden;
      white-space: nowrap;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      font-size: 18px;
    }
  }
}
.over {
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  background: rgba(0,0,0,0.8);
  position: absolute;
  -webkit-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
  opacity: 0;
    div {
      display: table;
      vertical-align: middle;
      color: #fff;
      margin: 45% auto;
    }
    img {
      display: block;
      margin: 0 auto 20px auto;
   }
}

////////////////////////flogram///////////////////////////
#wrap_flogram {
  .sub_top_box01 {
    background: url('/assets/images/top_flogram.jpg') no-repeat center center;
    @include sub_top_style;  
  }
  
}
.flogram {
  &_con01{
    width: 100%;
    background: #f3f3f3;
    padding: 0 30px;
  }
  &_inner {
    max-width: 1000px;
    width: 100%;
    margin: 100px auto;
    display: table;
    padding: 95px 0;
  }
  
}
.instafeed {
  display: inline-block;
  float: left;
  width: 33%;
  text-align: center;
  padding: 0 2%;
  margin-bottom: 20px;
  cursor: pointer;
  
    .instafeed img {
      display: block;
      width: 100%;
    }
}

/////////////////////gongsapd//////////////////////
.pd{
  &_top {
    background: url('/assets/images/gongsa_top.png') no-repeat center center;
    background-size: cover;
    padding: 54% 0 1%;
    width: 100%;
    display: table;
    position: relative;
  }
  &_btn_area {
    display: table;
    margin: 0 auto;
    text-align: center;
    width: 100%;
     div {
      width: 50%;
      float: left;
      display: inline-block;
    }
     a {
      display: inline-block;
      padding: 0 30px;
       img {
        display: block;
        width: 100%;
      }
    }
  }
  &_btn01 a {
    float: right;
    @include clearfix
  }
  &_btn02 a {
    float: left;
    @include clearfix
  }
  &_btn_under_txt {
    text-align: center;
    font-size: 24px;
    margin-top: 2.6vw;
    font-weight: 400;
    color: #666666;
  }

  &_con {
    width: 100%;
    display: table;
  }
}
#pd_mobile{
  display: none;
}
/////////////////////board//////////////////////
#wrap_board .sub_top_box01 {
  background: url('/assets/images/top_borad.jpg') no-repeat center center;
  @include sub_top_style;  
}
.board{
  &_con01 {
    padding: 90px 0;
  }
  &_contents {
    *{
      line-height: 1.8em;
    }
    padding: 30px;
    border: 1px solid #d7d7d7;
    background: #f1f1f1;
    margin-top: 30px;
    h1 {
      font-size: 2.2rem;
      text-align: center;
      margin: 0 0 70px 0;
    }
    .p1 {
      text-align: center;
    }
    &_txt{
      display: block;
      margin: 0 auto;
      width: 430px;
    }
    .center {
      text-align: center;
      margin: 25px 0;
    }
    p, ul li, .signature{
      font-size: 20px;
    }
    ul, li{
      list-style: decimal;
      padding-left: 10px;
    }
    ul{
      padding-left: 20px !important;
      .style_no{
        padding-top: 5px !important;
        list-style: none !important;
      }
    }
  }
  &_bottom{
    margin-top: 3.5rem;
    @include clearfix;
  }
  &_date{
    text-align: center;
    margin-bottom: 40px;
  }  
}
.style_no{
  list-style: none !important;    
  p{
    text-indent: 46px;
    margin-bottom: 0;
    &:first-child {
      margin-top: 5px;
    }
  }
}
.board_address, .signature{
  float: right;
  display: block;
  clear: both;
  
}
////////////////////////contact/////////////////////////
#wrap_contact .sub_top_box01 {
  background: url('/assets/images/top_contact.jpg') no-repeat center center;
  @include sub_top_style;  
}
.contact{
  &_box {
    background: #f3f3f3;
    width: 100%;
  }
  &_con01 {
    display: table;
    padding: 0 30px;
  }
  &_form {
    width: 100%;
    display: table;
    max-width: 840px;
    margin: 125px auto;
    .input_low {
      width: 100%;
      margin-bottom: 65px;
      display: table;
       label {
        width: 100%;
      }
      input {
        height: 73px;
      }
      input, textarea {
        width: 82%;
        padding: 20px 12px;
        font-size: 20px;
        border: none;
      }
      textarea{
        height: 100%;
        min-height: 270px;
      }
      input::placeholder, textarea::placeholder {
        font-size: 20px;        
        color: #aaa;
      }
    }
  } 
  &_p {
    display: inline-block;
    width: 18%;
    font-size: 35px;
    font-weight: 400;
    vertical-align: top;
    span {
      display: block;
      font-size: 18px;
      letter-spacing: -2px;
    }
  }
}

/////////////////////mobile menu//////////////////////////
app-header-mobile{
  display: none;
  
  @media only screen and (max-width: 850px){
    display: block;
  }
}
app-header{
  @media only screen and (max-width: 850px){
    display: none;
  }
}
.my-custom-menu {
  --width: 100%;
  ion-header{
    padding: 0 10px; 
    .mobile_lnb{
      border-bottom: 2px solid #282a37;
    } 
    
  }
}
.mobile_lnb{
  padding: 2vw 10px !important;
  // height: 56px;
  
}
@mixin list_inner {
  padding: 2vw;
  font-size: 6.25vw;
  text-align: center;
}
.snb_list{
  div{
    @include list_inner;
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid #ddd;
    a{
      @include list_inner;
      color: #3b3b3b;
    }
    span{
      color: #3b3b3b;
      font-size: 6.25vw;
      float: right;
      @include clearfix;
    }
  }
  .list_1depth{
    text-indent: -2.4vw;
  }
}
.side_menu {
  height: 0px;
  transition: all ease 0.5s;
  overflow: hidden;
  text-align: center;
  li{
    display: block;
    margin: 0 auto;
    width:60%;
    border-bottom: 1px solid #ededed;
    padding: 2vw;
    text-decoration: none;
    text-indent: -2.4vw;
    
  }
  a{
    margin: 0 auto;
    font-size: 4.9vw;
    color: #3b3b3b;
  }
}
app-header-mobile{
  .list-ios{
    width: 85%;
    margin: 0 auto;
  }
  .item-native{
    padding: 0 !important;
    -webkit-padding-start: unset !important;
  }
}
.input-wrapper{
  justify-content: center !important;
}
.input-wrapper slot{
  text-align: center !important;
  display: inline-block;
  vertical-align: middle;
  justify-content: center !important;
}
.mo{
  &_logo{
    display: inline-block;
    text-align: center;
  
  }
  &_logo {
    img{
      width: 100px;
      margin-left: 2vw;
      margin-top: 2vw;
    }
  }
  &_close{
    @include clearfix;
    display: block;
    background: url('/assets/images/mobile_close.png') no-repeat center center;
    width: 35px;
    height: 35px;
    background-size: 80%;
    float: right;
      span{
        opacity: 0;
        width: 35px;
        height: 35px;
      }
  }
  &_ham_btn{
    background: url('/assets/images/mobile_menu.png') no-repeat center center;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 0;
    background-size: 80%;
    margin-right: 10px;
    span{
      opacity: 0;
      width: 35px;
      height: 35px;
    }
  }
}
.item-native{
  width: 80% !important;
  margin: 0 auto !important;
  text-align: center;
}
.snb_sns{
    background: #282a37;
    padding: 10vw;
    text-align: center;
    li{
      display: inline-block;      
      vertical-align: middle;
      padding: 0 2vw;
      width: 32%;
      a {
        display: inline-block;
        width: 70%;
        img { 
          display: inline-block;
          width: 100%;
          height: auto;
        }
      }
    }
}
.snb_list{
  padding: 8vw 0;
  background:#fff;
}
.mo_wrap{
  --background:#282a37;
}














@media only screen and (max-width: 1200px){
  .main{
    &_img02{
      width: 70%;
    }
  }
  .pd_btn_area a{
    width: 50%;
  }
  
}

@media only screen and (max-width: 1100px){
  .main{
    &_con03 {
      padding-right: 30px;
      padding-left: 30px;
    }
  }
  .sns_area li {
    padding: 0 3%;
  }
  .sub{
    &_container {
      padding-right: 30px;
      padding-left: 30px;  
    }
  }
}

@media only screen and (max-width: 1000px){
  .main{
    &_btn {
      a{
        font-size: 16px;
        width: 200px;
        height: 54px;
      }
    }
    &_con01{
      h3{
        font-size: 22px;
      }
    } 
  }

  .nav{
    &_sns{
      li{
        width: 28%;
        margin: 5px 0 0 5%;
        a{
          margin: 0;
        }
      }      
    }
  }
  .sns_box p{
    margin-right: 4%;
  }
  .sns_area{
    display: block;
  }

}


@media only screen and (max-width: 950px){
  .grid_wrap{
    margin: 0 auto !important;
  }
  .main{
    &_con02{
      .main_card{
        width: 50%;
      }
    }
    &_card_b {
      font-size: 26px;
    }
  } 
  .sns_area li {
    padding: 0 2%;
  }
  .his{
    &_table th, &_td01{
      font-size: 20px !important;
    }
    &_table td span {
      font-size: 16px;
    }
  }
}

@media only screen and (max-width: 900px){
  ion-row.fl_card_ul{
    ion-col{
      width: 48%;
      margin-right: 4%;
      &:nth-child(2n){
        margin-right: 0;
      }
    }  
    .fl_card_li{
      width: 100%;
      margin-right: 0;
      float: none;      
    }
  }
  .grid_wrap{
    overflow-x: scroll;
    height: 600px;
    max-width: 100% !important;
    margin: 0 auto;
  }
  .margin_left_menu{
    // overflow-y: scroll;
    padding: 0 30px;
    // height: 600px;
    
  }
  .list_wrap{    
    width: 800px;
  }
  
  
}

@media only screen and (max-width: 850px){
  .logo_w{
    display: none;
  }
  .sns {
    &_area{
      width: 100%;
      li{
        padding: 0 2%;
      }
      &01{
        margin-bottom: 20px;
      }
    } 
    &_box{
      width: 100%;
      text-align: center;
      float: none;
      p {
        display: block;
        margin-right: 0;
        font-weight: 400;
      }
    }
  }
  .sub_top_m {
    margin: 60px 0;
  }

  .re {
    &_box_wrap {
      li{
        width: 100%; 
      }
    }
    &_title {
      font-size: 32px;
      span{
        font-size: 50px !important;
      }      
    }
    &_li {
      width: 100%;
      margin-bottom: 30px;
      img {
        display: inline-block;
        margin-right: 4%;
        vertical-align: middle;
      }
      &_arrow{
        display: none !important;
      }
    }
    &_con02_ul p {
      display: inline-block;
      text-align: left;
      font-size: 30px;
      vertical-align: middle;
      width: 45%;
      span{
        font-size: 25px;
      }
    }
    &_con03_ul {
      li{
        width: 33.33%;
      }
    }
  }
  .subtitle02 {
    font-size: 22px;
  }
  .recruit_con02, .recruit_con03 {
    margin-top: 100px;
  }
  .contact{
    &_form{
      margin: 100px 0 60px 0;
    }
    &_p {
      margin-bottom: 15px;
      width: 100%;
    }    
  }
  .contact_form .input_low{
    margin-bottom: 35px;
    input, textarea{
      width: 100% !important;
    }
  }
 
}
@media only screen and (max-width: 700px){
  .main{
    &_con02{
      .main_card{
        width: 100%;
        min-height: 500px;
      }
    }
  }

  .sub{
    &_top_box01 {
      img{
        width: 17%;
        margin: 0 0 20px 0;        
      }
    }
    &_top {
      &_b{
        font-size: 30px;
      }
      &_s{
        margin-bottom: 20px;
      }
      &_m {
        font-size: 25px;
      }
    }
    &title01 {
      font-size: 22px;
    }
    &title02 {
      font-size: 20px;
    }
  }
  .about_con01 img {
    width: 80%;
  }
  .his {
    &_con02{
      margin-top: 100px;
    }
  }

  .fl_card{
    &_p01, &_p01 span{
      font-size: 22px;
    }
  }

  .re_con03_ul li {
    width: 50%;
  }

  .rednote{
    &_inner ul li {
      width: 48%;
      margin-right: 4%;
      
      &:nth-child(2n){
        margin-right: 0;
      }
    }
    &_p01{
      font-size: 20px;
      height: 59px;
    }
  }
  
  #pd_mobile{
    display: block;
  }
  #wrap_pd{
    display: none;
  }
  .pd{
    &_mp_top {
      position: relative;
    }
    &_con {
      width: 100%;
      display: table;
    }
    &_mo_btn {
      position: absolute;
      bottom: 8%;
      margin: 0 auto;
      text-align: center;
      right: 50%;
      margin-right: -131px;
      .pd_btn01 {
        margin-bottom: 20px;
      }
      a{
        float: none;
        img{
          width: 80%;
        }
      }
      .pd_btn_under_txt {
        font-size: 16px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 150%);
        white-space: nowrap;
      }
    }
  }
  .contact_p {
    font-size: 25px;
  }
  .input_low input, .input_low textarea {
    padding: 15px 12px;
  }
  .submit_btn p, .contact_submit p {
    font-size: 20px !important;
  }
}

@media only screen and (max-width: 550px){
  .main{
    &_img02 {
      width: 100%;
      margin: 70px 0 40px 0;
    }
    &_con02{
      .main_card{
        min-height: 300px;
      }
    }
    &_btn{
      a{
        margin-bottom: 15px;
      }
    }
  }
  .sns{
    &_area{
      li {
        width: 20%;
        a img{
          width: 100%;
        }
      }
    }
  }
  .about_con01 img {
    width: 100%;
    margin: 50px auto;
  } 
  #wrap_about{
    .about_con02 p {
      font-size: 20px;
    }
    .sub_top_box01 img{
      margin: 0 0 20px 0;
    }

  }
  .footer{
    &02 a{
      font-size: 16px;
      img{
        margin-top: -4px;
      }
    }
    &_inner{
      padding: 30px;
    }
  }
  .sub{
    &_top_b {
      font-size: 22px;
    }
    &_top_m {
      font-size: 20px;
      span{
        font-size: 22px;
      }
    }
    &title02{
      font-size: 18px;
    }
  }
  
  .his{
    &_table_title {
      p{
        font-size: 18px;
      }
      img{        
        width: 22px;
      }
    }
    &_table th, &_td01{
      font-size: 18px !important;
    }
    &_table {
      td{
        span{
          margin-top: 6px;
        }
      }
    }
    &_con02 {
      margin-top: 50px;
    }
  }
  .flownser_title .fl_title02{
    font-size: 18px;
  }

  ion-row.fl_card_ul{
    ion-col{
      width: 100%;
      margin-right: 0;
    }  
    .fl_card_li{
      margin-bottom: 20px;
    }
  }

  .re {
    &_li img{
      width: 100px;
    }
    &_con02_ul p {
      font-size: 25px;
      span{
        font-size: 20px;
      }
    }
    &_con03_box{
      padding: 30px;
    }
    &_con03_ul li {
      width: 42%;
      margin-right: 8%;
      padding-left: 0;
      white-space: normal;
      font-size: 15px;
      display: inline-block;
      line-height: 2.5;
      float: left;
    }    
  }
  .submit_btn, .contact_submit{
    p{
      font-size: 16px !important;
    }
  }
  .submit_btn , .contact_submit {
    img{
      width: 50%;
      margin: 6px auto;
      display: block;
    }
   
  }
  #wrap_recruit .subtitle_box {
    margin-bottom: 50px;
  }
  .pd_mo_btn a img {
    width: 60%;
  }

  .board{
    &_contents {
      h1{
        font-size: 30px;
        margin-bottom: 50px;
      } 
      p, ul li, .signature{
        font-size: 16px;
      }
      ul{
        padding-left: 0 !important;
        li{
          margin-bottom: 10px;
        }
        .no_style{
          padding-left: 0;
        }
      }
    }    
  }
  .board_contents ul.style_no, .board_contents li.style_no{
    padding-left: 0;
  }
  .board_contents li.style_no p{
    text-indent: 16px;
  }
  
  .mo{
    &_logo {
      img{
        width: 100px;
        margin-left: 0;
      }
    }
  }

  
}

@media only screen and (max-width: 414px){
  .main{
    &_con01 h3{
      font-size: 18px;
      margin-bottom: 45px;
      span{
        font-size: 21px;
      }
    }
    &_con03{
      padding: 30px;
    }
  }
  #wrap_about .about_con02 a {
    font-size: 15px;
  }
  .main{
    &_con02{
      .main_card{
        min-height: 250px;
      }
    }
  }
  .his {
    &_table_title{
      padding: 18px 10px; 
    }
    &_table {
      th{
        padding: 14px 10px 10px 10px;
        font-size: 14px !important;
      }
      td{
        span{
          font-size: 14px !important;
        }
      }
    }
    &_td01{
      font-size: 14px !important;
    }
  }
  .his_table .his_td01, .his_table td {
    padding: 14px 5px 10px 5px !important;
  }

  .fl_card{
    &_li{
      min-height: 340px;
    }
  }
  .re{
    &_title {
      font-size: 28px;
      span {
        font-size: 40px !important;
      }
    }
    &_con02_ul p {
      font-size: 20px;
    }
    &_con03_box {
      padding: 20px;
    }
  }
  .rednote{
    &_inner ul li {
      width: 100%;
      margin-right: 0;
    }
    &_inner ul{
      width: 100%;
    }
  }

  .pd_mo_btn{
    bottom: 6%;
    a img {
      width: 50%;
    }
    .pd_btn01{
      margin-bottom: 10px;
    }    
  }

  .board_contents {
    padding: 30px 20px;
    .p1{
      text-indent: 10px;
    }
    h1{
      font-size: 22px;
      margin-bottom: 40px;
    }
    p, ul li, .signature{
      font-size: 14px;
    }
    .center{
      margin: 25px 0;
    }
    > ul{   
      padding-left: 10px !important;     
    }
  }
  .contact_form .input_low input, .contact_form .input_low textarea{
    padding: 16px 12px;
    font-size: 14px;
    height: auto;
  }
  .contact_form .input_low textarea{
    min-height: 180px;
  }
  .contact{
    &_form{
      margin: 60px 0 60px 0;
    }
    &_submit{
      width: 100%;
      padding: 18px 12%;
      img{
        width: 25%;
        display: inline-block;
        margin-left: 5%;
      }
    }
  }
  .instafeed{
    width: 50%;
  }
}

@media only screen and(max-width: 375px) {
  .main{
    &_con02{
      .main_card{
        min-height: 250px;
      }
    }
  }

  .pd_mo_btn{
    // bottom: 8%;
  }
  
}


/* cross browsing */
/* IE11+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  input[readonly=true], textarea[readonly=true]{
    border: none !important;
    outline: none !important;
    pointer-events: none !important;
  }
  input[readonly=""], textarea[readonly=""]{
    border: none !important;
    outline: none !important;
    pointer-events: none !important;
  }
  textarea[readonly=""]{
    box-shadow: none !important;
    pointer-events: none !important;
  }
	.his_table tbody .year{
    display: table-caption;
  }
  ion-col{
    display: block;
    width: 100%;
  }  
  .login_div{
    ion-input{
      border: 1px solid #ddd;
      background: #efeffe;
    }
    ion-label{
      width: 100% !important;
      max-width: 100px !important;
    }
  }
  .margin_left_menu input[type=text]{
    border: 1px solid #ddd;
  }
  .margin_left_menu textarea {
    // border: 1px solid #ddd !important;
    box-shadow: 0px 0px 1px 0px #ddd;
  }
  @include readonly;
  ion-button{
    background: #3880ff;
    padding: 10px 12px;
    border-radius: 5px;
    cursor: pointer;
  }
  button{
    box-shadow: none !important;
  }
}

/*IE10 only*/
@media screen and (min-width:0\0){
  input[readonly=true], textarea[readonly=true]{
    border: none !important;
    outline: none !important;
    pointer-events: none !important;
  }
  input[readonly=""], textarea[readonly=""]{
    border: none !important;
    outline: none !important;
    pointer-events: none !important;
  }
  textarea[readonly=""]{
    box-shadow: none !important;
    pointer-events: none !important;
  }
  .hydrated{
    visibility: visible !important;
  }
	ion-col{
    display: block;
    width: 100%;
  }
  .sc-ion-title-1.toolbar-title{
    text-align: center;
  }
  app-header-mobile .sc-ion-toolbar-ms-0-s > [slot=end]{
    width: 10%;
  }
  .mo_ham_btn{
    display: block;
    background-size: 80% !important;
  }
  svg.s-ion-icon{
    display: none !important;
  }
  .mo_wrap{
    background:#282a37;
  }
  .my-custom-menu .menu-inner{
    width: 100% !important;
  }
  .menu_normal a{
    color: #fff !important;
  }
  .admin_bg{
    background: #F1F2F6 !important;
    --background: #F1F2F6 !important;
  }
  .admin_bg .sc-ion-content-0.scroll-y{
    background: #F1F2F6 !important;
    --background: #F1F2F6 !important;
  }
  .grid_content{
    padding: 10px 0;
  }
  .margin_left_menu input[type=text]{
    border: 1px solid #ddd;
  }
  @include readonly;
  ion-button{
    background: #3880ff;
    padding: 10px 12px;
    border-radius: 5px;
    cursor: pointer;
  }
  button{
    box-shadow: none !important;
  }
}


//========================= admin  =====================================
.login_div {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  ion-item{
    width: 100%;
    display: block;
  }
  ion-label{
    width: 100px;
  }
  ion-button{
    margin-top: 30px;
    background: #ffce00;
  }
}
.margin_left_menu {
  margin-left: 250px !important;
  display: block;
  
  ion-button{
    color: #fff; 
    --color: #fff;
  }
}
ion-content.admin_bg{
  --background: #F1F2F6;
  background: #F1F2F6;
}

.instafeed_modal {
  .modal-wrapper {
    position: absolute !important;
    top: calc(50% - (520px/2)) !important;
    left: calc(50% - (320px/2)) !important;
    height: 520px !important;
    width: 320px !important;
  }
}
.grid{
  &_wrap{
    width: 100%;
    max-width: 85%;
    // min-width: 600px;
    display: block;
    margin: 80px auto;
  }
  &_heder{
    background: #FCFCFC;
    text-align: center;
    font-size: 16px;
    border-top: 2px solid #343a40;
    border-bottom: 2px solid #343a40;
    -webkit-position: sticky;
    position: sticky;
    top: 0;
    z-index: 10;
    ion-col{
        font-weight: bold;        
    }
  }
  &_content{
    text-align: center;
    ion-col{
      padding: 0 10px; 
    }
  }
}
.list_wrap{
  margin-top: 20px;
  background: #fff;
  height: 600px;
  overflow-y: scroll;
  
}
.wrap_admin_detail {
  width: 100%;
  max-width: 85%;
  display: table;
  margin: 80px auto;
  background: #fff;
  padding: 30px;
}
.fr{
  @include clearfix;
  float: right;
}
.ad_detail_th{
  // width: 100%;
  // max-width: 200px;
  font-weight: bold;
  padding: 10px 10px 10px 0;
  border-right: 1px solid #333;
  /* background: #ddd; */
  margin-right: 2%;
}
.wrap_admin_detail ion-row{
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  
  &:first-child{
    border-top: 1px solid #ddd;
  } 
}
.margin_left_menu input[type=text]{
  border: 1px solid #ddd;
}
.margin_left_menu textarea {
  // border: 1px solid #ddd !important;
}
@include readonly;



/*================*/
.margin_left_menu textarea {
  box-shadow: 0px 0px 1px 0px #ddd;
}
.wrap_admin_detail {
  table{
    width: 100%;
    
    .ad_detail_th{
      width: 10%; 
      min-width: 200px;
      padding: 10px;
    }
    tr{
      border-bottom: 1px solid #ddd;
      &:first-child{
        border-top: 1px solid #333;
      }      
    }
    tr.last{
      border-bottom: 1px solid #333 !important;
    }
    td{
      padding: 10px;
    }
    input, textarea{
      width: 100%;
      padding: 10px;
    }
  }

  .btns{
    margin-top: 30px;
    button{
      padding: 10px 15px;
      color: #fff;
      border-radius: 5px;
      background: #3880ff;
    }
  }
  
}


/*============== 공지사항 팝업 ==============*/
.home_popup02{
  width: 750px !important;
}
.home_popup03{
  width: 750px !important;
  // right: 21% !important;
  // left: unset !important;
  left: 770px !important;
}

#home_popup{
  width: 450px;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 99;
  // position: relative;
  // padding: 40px 0 0;
  // border: 1px solid #f4364c;
  background: white;
  
  .close {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
    cursor: pointer;

    
    img {
      display: block;
      width: 100%;
      height: auto;
      filter: grayscale(1);
    }
  }  
  
  .home_popup_inner {
    width: 100%;
    
    img {
      display: block;
      width: 100%;
    }
  }
  
  .no_more {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: gray;
    
    #no_more_check {
      display: inline-block;
      margin-right: 3px;
      margin-top: 7px;
    }
  }
}

@media only screen and (max-height: 890px){
  #home_popup{
    height: 90%;
    max-width: 650px;
    width: auto;
  }
  #home_popup .home_popup_inner{
    width: auto;
    height: 100%;    
  }
  #home_popup .home_popup_inner a, #home_popup .home_popup_inner img, .home_popup02, .home_popup03 {
    display: block;
    width: auto !important;
    height: 100%;
  }
}
@media only screen and (max-width: 650px){
    #home_popup{
      display: block;
      width: 95%;
      height: auto;
    }
   #home_popup .home_popup_inner, #home_popup .home_popup_inner a, #home_popup .home_popup_inner img {
    display: block;
    width: 100%;
    height: auto;
  }
}



/*============== 메인 수정 ==============*/

.sns_area03 {
  clear: left;
  display: block;
  margin: 0 auto;

  p {
    font-weight: normal;
    padding: 18px 0;
    float: left;
    position: relative;
    left: 50%;
    transform: translateX(-100%);
    margin-right: 0;
    padding-right: 3%;

    span {
      font-size: 20px;
      font-weight: bold;
    }
  }

  .sns_area {
    float: right;
    position: relative;
    right: 50%;
    transform: translateX(100%);

    li {
      a {
        display: block;
        img {
          display: block;
        }
      }
    }
  }

  &::after {
    content: "";
    clear: both;
    display: block;
  }
}

.footer_inner {
  position: relative;

  &::after {
    clear: both;
    content: "";
    display: block;
  }
}

.footer_link_box {
  padding-top: 19px;
  float: right;
  cursor: pointer;

  &::after {
    clear: both;
    content: "";
    display: block;
  }
  .footer03 {
    border: 1px solid #3b3b3b;
    float: right;
    position: relative;

    > a {
      display: block;
      color: #3b3b3b;
      padding: 12px 28px 12px 12px;
      background: url("/assets/images/footer_s_arrow.png") 90% center no-repeat;
      background-size: 5px auto;
    }
  }

  .footer04 {
    float: right;
    border: 1px solid #3b3b3b;
    padding: 12px 40px 12px 18px;
    position: relative;
    margin-left: 10px;
    cursor: pointer;
    background: url("/assets/images/footer_s_plus.png") 88% center no-repeat;
    background-size: 10px auto;

    .rela_site {
      width: 100%;
      height: 0;
      position: absolute;
      bottom: 44px;
      left: -1px;
      box-sizing: unset;
      background: white;
      border: 0;
      overflow: hidden;
      transition: all 0.5s;

      > li {
        text-align: center;
        
        a {
          height: 35px;
          line-height: 35px;
          display: block;
          color: #3b3b3b;

          img {
            display: inline-block;
          }
        }
      }

    &.on {
      height: 70px;
      border: 1px solid #3b3b3b;
      border-bottom: 0;
    }
    }
  }
}

@media only screen and (max-width: 1350px ) {
  .award_contens_area ul{
    max-width: 100%;
  }
  .award_contens_area ul li{
    width: 23%;
    margin: 0 1%;
  }
}
@media only screen and (max-width: 1100px ) {
  .sns_area03 {
    .sns_area {
      width: 220px;
      text-align: center;
      li {
        padding: 0 2%;
      }
    }
  }
}

@media only screen and (max-width: 960px) {
  .home_popup03{
    right: unset;
    left: 0 !important;
  }
}
@media only screen and (max-width: 940px) {
  .award_contens_area ul {
    max-width: 90%;
  }
  .award_contens_area ul li{
    width: 48%;
  }
}
@media only screen and (max-width: 860px) {
  #home_popup {
    width: 90% !important;
    top: 80px;
    z-index: 1;
  }
}
@media only screen and (max-width: 550px) {
  .sns_area03 {
    
    p {
      width: 100%;
      text-align: center;
      padding-top: 8px;
      padding-bottom: 10px;
      padding-right: 0;      
      clear: both;
      left: 0;
      transform: none;

    }

    .sns_area {
      width: 100%;
      text-align: center;
      padding-top: 3px;
      clear: both;
      right: 0;
      transform: none;

      li {
        width: 15%;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .award_contens_area ul li{
    vertical-align: top;
    text-align: center;
    margin-bottom: 5px;
  }
  .award_contens_area ul li p{
    width: 90%;
  }
  .award_contens_area ul li img{
    display: block;
    width: 40%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 375px) {
  .sns_area03 {

    .sns_area {
      
      li {
        width: 20%;
      }
    }
  }
}