<ion-grid>
  <ion-row>
    <ion-col>
      <div id="footer">
        <div class="footer_inner">
        <div class="footer01">
        <ul>
        <li>(주) 플로언스 | 대표: 김철민</li>
        <li>본사: 전라남도 순천시 순천만정원로 86, 지플레이스 703호 (풍덕동)</li>
        <li>서울 지사: 서울특별시 강남구 도곡로 135, 수유빌딩 | 대표번호 : 02 - 6941 - 3051</li>
        <li>COPYRIGHT (C) BY FLOWNS ALL RIGHT RESERVED</li>
        </ul>
        </div>
        <!-- <div class="footer02">
          <a href="/contact"><img src="/assets/images/footer_icon01.png" alt="image">문의 및 제휴</a>
        </div> -->
        <div class="footer_link_box">
          <div class="footer04" (click)="footer_toggle()">
            연관 사이트
            <ul class="rela_site">
              <li><a href="http://04-pd.com/" target="_blank">공사PD</a></li>
              <li><a href="http://04-fd.com/" target="_blank">공사FD</a></li>
            </ul>
          </div>
          <div class="footer03">
            <a href="http://flowns.co.kr/contact">사업ㆍ제휴 문의</a>
          </div>        
        </div>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
