<admin-template></admin-template>
<!-- <ion-content class="margin_left_menu admin_bg" [scrollEvents]="true" direction="y" (ionScroll)="scrollPaging($event)"> -->
<ion-content class="margin_left_menu admin_bg">
  <div class="margin_left_menu">
    <ion-grid class="grid_wrap">
      <div class="list_wrap" (scroll)="scrollPaging_div($event)">
        <ion-row class="rednote_grid_header grid_heder" padding>
          <ion-col>번호</ion-col>
          <ion-col>문의자</ion-col>
          <ion-col>전화번호</ion-col>
          <ion-col>작성일</ion-col>
          <ion-col>확인여부</ion-col>
          <ion-col>상세보기</ion-col>
        </ion-row>
        <ion-row class="rednote_grid_content grid_content" *ngFor="let list of contact.list_data" padding>
          <ion-col>{{list.id}}</ion-col>
          <ion-col>{{list.name}}</ion-col>
          <ion-col>{{list.contact}}</ion-col>
          <ion-col>{{list.reg_date.split("T")[0]}}</ion-col>
          <ion-col>{{list.status=="READ"?"확인" : "미확인"}}</ion-col>
          <ion-col>
            <ion-button (click)="move_url('/admin/contact/detail/'+list.id)">게시물관리</ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </div>
</ion-content>