<admin-template></admin-template>
<!-- <ion-content class="margin_left_menu admin_bg" [scrollEvents]="true" direction="y" (ionScroll)="scrollPaging($event)"> -->
    <ion-content class="margin_left_menu admin_bg">
  <div class="margin_left_menu">
    <ion-grid class="grid_wrap">
      <!-- <div class="list_wrap"> -->
        <div class="list_wrap" (scroll)="scrollPaging_div($event)">
        <ion-row class="evnet_grid_header grid_heder" padding>
          <ion-col>번호</ion-col>
          <ion-col>이벤트 이름 </ion-col>
          <!-- <ion-col>이메일</ion-col>
          <ion-col>전화번호</ion-col> -->
          <ion-col>닉네임</ion-col>
          <ion-col>작성일</ion-col>
          <ion-col>상태</ion-col>
          <ion-col>게시물관리</ion-col>
        </ion-row>
        <ion-row class="event_content grid_content" *ngFor="let list of event.list_data" padding>
          <ion-col>{{list.id}}</ion-col>
          <ion-col>{{list.event_name}}</ion-col>
          <!-- <ion-col>{{list.email}}</ion-col>
          <ion-col>{{list.mobile}}</ion-col> -->
          <ion-col>{{list.nickname}}</ion-col>
          <ion-col>{{list.reg_date.split("T")[0]}}</ion-col>
          <ion-col>{{list.status =='SEND' ? '제공' : '비제공'}}</ion-col>
          <ion-col><ion-button (click)="move_url('/admin/event/detail/'+list.id)">게시물관리</ion-button></ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </div>
</ion-content>