<div class="left_sub_menu">
  <div calss="sub_menu_top">
    <div>
      <a href="/" class="logo_a"><img src="/assets/images/header_logo_white.png" alt="flowns" class="logo_img"></a>
    </div>    
  </div>
  <div class="sub_menu_item sub_menu_item01">
    <div id="menu_rednote" class="menu_normal"  (mouseover)="mouse_over($event)" (mouseleave)="mouse_leave($event)">
      <a href="/admin/rednote/list">레드노트 관리</a>
    </div>
  </div>
  <div class="sub_menu_item">
    <div id="menu_event" class="menu_normal"  (mouseover)="mouse_over($event)" (mouseleave)="mouse_leave($event)">
      <a href="/admin/event/list">이벤트 관리</a>
    </div>
  </div>
  <div class="sub_menu_item">
    <div id="menu_contact" class="menu_normal"  (mouseover)="mouse_over($event)" (mouseleave)="mouse_leave($event)">
      <a href="/admin/contact/list">제휴 문의</a>
    </div>
  </div>
  <!-- <div class="sub_menu_item">
    <div id="menu_notice" class="menu_normal"  (mouseover)="mouse_over($event)" (mouseleave)="mouse_leave($event)">
      <a href="">접속 통계(공사피디)</a>
    </div>
  </div> -->
</div>