.left_sub_menu {
    position: fixed;
    float: left; 
    background-color: rgb(52, 58, 64); 
    width: 100%;
    max-width: 250px; 
    height: 100%;
    z-index: 30;
    .sub_menu_top {
        display: block;
        color:#fff;
        text-align:center;
        padding:10px;
        border-bottom:1px solid #797979;
        background-color:#222B38;
        padding: 30px;

        div {
            display: inline-block;
        }
    }
    .sub_menu_top_button_div{
        float:left;
        color:#fff;
        font-size:10pt;
        line-height:41px;
        width:100px;
        text-align:center;
    }
    .sub_menu_item {
        display: block;
        width: 100%;
        border-bottom: 1px solid #797979;
        color:#FFFFFF;
        &01{
            border-top: 1px solid #797979;
        }
        a{
            display: block;
            width: 100%;
            height: 100%;
            padding: 15px;
            font-size: 18px;

        }
    }
    a:hover {
        color: white !important;
        text-decoration: none !important;
    }
}
.logo_img{
    display: block;
    margin: 30px auto;
}
.menu_active {
        background-color: #2E71FD;
        width: 100%;
        display: block;
        height: 100%;
    a {
        color: white !important;
        text-decoration: none !important;
    }
}

.menu_normal {
    background-color: #343a40;
}

.menu_over {
    background-color: #45494D;
    padding: 15px;
    a {
        color: white !important;
        text-decoration: none !important;
    }
}