<ion-content padding>
  <div class="login_div">
    <ion-item>
      <ion-label>id</ion-label>
      <ion-input [(ngModel)]="email" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>password</ion-label>
      <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item>
    <ion-button color="warning" expand="block" strong="true" (click)="login()">로그인</ion-button>
  </div>
</ion-content>
