<app-header></app-header>
<app-header-mobile></app-header-mobile>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
          <div id="wrap_board">
            <!------ sub_top_wrap 공통------------->
            <div id="sub_top_wrap">
              <div class="sub_top_box01">
                <img src="/assets/images/top_icon.png" alt="image">
                <p class="sub_top_s">Board</p>
                <p class="sub_top_b">공지사항</p>
              </div>
              <!-- <div class="sub_top_box02">
                <p class="sub_top_m"><span>플로언스</span>의 주요 소식을 전달 해드립니다</p>
              </div> -->
            </div>
            <!------ sub_top_wrap end------------->
            <div class="sub_container board_con01">
              <div class="subtitle_box">
                <p class="subtitle01">공지사항 <em>line</em></p>
                <!-- <p class="fl_title02">2018.11.29 ~ 2018.12.28</p> -->
              </div>
            
              <!-- <img src="/assets/images/popup_20181128.jpg" alt="image"> -->
              <!-- <div class="board_contents">
                <h1>신주발행사항 공고</h1>
                <p class="p1">회사는 정관 제 9조에 의해 주주 외의 자에게 신주를 배정하기 위해서 <br />
                  상법 제 418조4항에 의한 신주발행사항을 주주에게 공고합니다.
                </p>
                <br>
                <p class="center">- &nbsp;&nbsp;다&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;음&nbsp;&nbsp;-</p>
                <div class="board_contents_txt">
                  <ul>
                    <li>신주의 종류와 수 : 보통주식  25,000 주</li>
                    <li>신주의 발행가액과 납입기일
                      <ul class="style_no">
                        <li class="style_no">
                          1) 1주의 발행가액 : 금 12,000원
                        </li>
                        <li class="style_no">
                          2) 납입기일 : 2019년 12월 16일
                        </li>
                      </ul>
                    </li>
                    <li>신주의 인수방법 : 정관 제 9조에 의한 제3자 배정</li>
                  </ul>
                </div>
                <div class="board_bottom cf">
                  <p class="board_date">2019년 &nbsp;12월 &nbsp;5일</p>
                  <p class="board_address">전라남도 순천시 순천만정원로 86, 지플레이스 703호 (풍덕동)</p>
                  <div class="signature">
                    주&nbsp;&nbsp;식&nbsp;&nbsp;회&nbsp;&nbsp;사&nbsp;&nbsp;&nbsp;&nbsp; 플&nbsp;&nbsp;로&nbsp;&nbsp;언&nbsp;&nbsp;스<br>
                    대&nbsp;&nbsp;표&nbsp;&nbsp;이&nbsp;&nbsp;사&nbsp;&nbsp;&nbsp;&nbsp; 김&nbsp;&nbsp;철&nbsp;&nbsp;민&nbsp;&nbsp;
                  </div>
                </div>
            
              </div> -->
              <div class="board_contents"><a id="board_contents02"></a>
                <h1>임시주주총회 소집통지서</h1>
                <p class="p1">주주님의 건승과 댁내의 평안을 기원합니다. <br />
                  당사는 상법 제 365 조와 정관 제 25 조에 의거 <br />아래와 같이 임시주주총회를 개최하오니 참석하여 주시기 바랍니다.
                </p>
                <br>
                <p class="center">- &nbsp;&nbsp;아&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;래&nbsp;&nbsp;-</p>
                <div class="board_contents_txt" style="width: 620px;">
                  <ul>
                    <li>일   시 : 2019년 12월 27일(금요일)   오전 10시 00분</li>
                    <li>장   소 : 서울 특별시 강남구 도곡로 135 (수유빌딩 2층) 플로언스 회의실</li>
                    <li>회의 목적 사항
                      <ul class="style_no">
                        <li class="style_no">
                          1) 부의안건 
                        </li>
                        <li class="style_no">
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;제 1호 의안 : 사내이사 선임 및 사임의 건
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="board_bottom cf">
                  <p class="board_date">2019년 &nbsp;12월 &nbsp;6일</p>
                  <p class="board_address">서울시 강남구 도곡로 135 (수유빌딩)</p>
                  <div class="signature">
                    주&nbsp;&nbsp;식&nbsp;&nbsp;회&nbsp;&nbsp;사&nbsp;&nbsp;&nbsp;&nbsp; 플&nbsp;&nbsp;로&nbsp;&nbsp;언&nbsp;&nbsp;스<br>
                    대&nbsp;&nbsp;표&nbsp;&nbsp;이&nbsp;&nbsp;사&nbsp;&nbsp;&nbsp;&nbsp; 김&nbsp;&nbsp;철&nbsp;&nbsp;민&nbsp;&nbsp;
                  </div>
                </div>
            
              </div>
            
            </div>
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>
