<admin-template></admin-template>
<!-- <ion-content class="margin_left_menu admin_bg" [scrollEvents]="true" direction="y" (ionScroll)="scrollPaging($event)"> -->
<ion-content class="margin_left_menu admin_bg">
  <div class="margin_left_menu">
    <ion-grid class="grid_wrap">
        <div class="btn_right">
          <!-- <ion-button #red_note_insert (click)="move_url('/admin/rednote/insert/0')">추가</ion-button> -->
          <ion-button #red_note_insert>추가</ion-button>
        </div>
        <div class="list_wrap" (scroll)="scrollPaging_div($event)">
          <ion-row class="rednote_grid_header grid_heder" padding>
              <ion-col>번호</ion-col>
              <ion-col>게시물 제목</ion-col>
              <ion-col>작성자</ion-col>
              <ion-col>작성일자</ion-col>
              <!-- <ion-col>조회수</ion-col> -->
              <ion-col>링크</ion-col>
              <ion-col>게시물관리</ion-col>
            </ion-row>
            <ion-row class="rednote_grid_content grid_content" *ngFor="let list of rednote.rednote_data" padding>
              <ion-col>{{list.id}}</ion-col>
              <ion-col>{{list.title}}</ion-col>
              <ion-col>{{list.username}}</ion-col>
              <ion-col>{{list.reg_date.split("T")[0]}}</ion-col>
              <!-- <ion-col>{{list.view_cnt}}</ion-col> -->
              <ion-col>
                <ion-button (click)="move_url(list.nv_url)">링크</ion-button>
                <!-- (click)="move_url('{{list.nv_url}}')" -->
              </ion-col>
              <ion-col>
                <ion-button (click)="move_url('/admin/rednote/detail/'+list.id)">게시물관리</ion-button>
              </ion-col>
            </ion-row>
        </div>
       
      </ion-grid>
  </div>
  
</ion-content>