<app-header></app-header>
<app-header-mobile></app-header-mobile>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
          <div id="wrap_flogram">
            <!------ sub_top_wrap 공통------------->
            <div id="sub_top_wrap">
              <div class="sub_top_box01">
                <img src="/assets/images/top_icon.png" alt="image">
                <p class="sub_top_s"># Flogram</p>
                <p class="sub_top_b">＃플로언스 ＃인스타그램</p>
              </div>
              <div class="sub_top_box02">
                <p class="sub_top_m">매력적인 <span>플로언서</span>를 만나보세요</p>
              </div>
            </div>
            <!------ sub_top_wrap end------------->
            <div class="flogram_con01">
              <div class="flogram_inner">
                  <div id="instagram">
                    <!-- <div class="instafeed" href="https://www.instagram.com/p/BtUi_Uvnyxh/"><img src="https://scontent.cdninstagram.com/vp/88493215b615ed547afcb060a9032063/5D2034BD/t51.2885-15/e35/s320x320/51519891_474546096409864_5420405501802986093_n.jpg?_nc_ht=scontent.cdninstagram.com"></div>
                    <div class="instafeed" href="https://www.instagram.com/p/BtDFGTdnIHE/"><img src="https://scontent.cdninstagram.com/vp/46641b4de8b53d91be84a4d1175399c8/5D06DC6A/t51.2885-15/e35/s320x320/50815797_340862413186728_7858225038744060965_n.jpg?_nc_ht=scontent.cdninstagram.com"></div>
                    <div class="instafeed" href="https://www.instagram.com/p/BtAW2NKnq2P/"><img src="https://scontent.cdninstagram.com/vp/d5af553c126fa215a9dfc571e22f4041/5D083D70/t51.2885-15/e35/s320x320/50243491_392161528019134_6451616595363648664_n.jpg?_nc_ht=scontent.cdninstagram.com"></div>
                    <div class="instafeed" href="https://www.instagram.com/p/BpqFm5iH2nl/"><img src="https://scontent.cdninstagram.com/vp/0f3d759fe7a8280a4194e890495b1c46/5D090776/t51.2885-15/e35/s320x320/43820651_494231684401507_2054628668009266217_n.jpg?_nc_ht=scontent.cdninstagram.com"></div>
                    <div class="instafeed" href="https://www.instagram.com/p/BoiFrqind9b/"><img src="https://scontent.cdninstagram.com/vp/cfe0f056cdea80069d16561e8571d6a9/5D223B58/t51.2885-15/e35/s320x320/41546113_2119406368388116_6921992675555223113_n.jpg?_nc_ht=scontent.cdninstagram.com"></div>
                    -->
                </div>
                  <!--<input type="button" id="load-more" value="more">-->
              </div>
            </div>
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>
