<!-- <app-header></app-header> -->
<app-header-mobile></app-header-mobile>

<ion-content>
  <ion-grid>
      <ion-row>
        <ion-col>
          <div class="main_con01">
            <a class="logo_w" href="/"><img src="/assets/images/header_logo_white.png" alt="flowns-logo"></a>
            <img class="main_img02" src="/assets/images/main_img02.png" alt="image">
            <h3><span>좋은 인재</span>가 <span>좋은 상품과 서비스</span>를 만들고 <span>좋은 상품과 서비스가 좋은 인재</span>를 이끕니다</h3>
            <div class="main_btn">
              <a href="/about" class="main_btn01">About</a><a href="http://www.flowns.co.kr/announce/" class="main_btn02" style="color: #fff !important;">공시/공고<img src="/assets/images/icon_download.png"></a>
              <a href="/contact" class="main_btn02">문의 및 제휴</a>
            </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <!-- <div id="home_popup" class="home_popup01">
            <div class="close" (click)="click_popup01()"><img src="/assets/images/mobile_close.png" alt="닫기"></div>
            <div class="home_popup_inner">
              <a href="/board"><img src="/assets/images/191125_main_popup.png" alt="수상안내"></a>
              <a href="https://n.news.naver.com/article/277/0004581502" target="_blank"><img src="/assets/images/191125_main_popup.png" alt="수상안내"></a>
            </div>
            
             <form name="form1" method="post" action="">
                <span class="left">오늘 다시 보지 않기 <input type="checkbox" name="popup" title="오늘 다시 보지 않기" /></span>
                <a href="javascript:closeLayer();" id="popup_close" title="닫기" class="right" (click)="click_popup()">[ 닫기 X ]</a>
             </form>
            </div> 
            
           <div id="home_popup" class="home_popup02">
            <div class="close" (click)="click_popup02()"><img src="/assets/images/mobile_close.png" alt="닫기"></div>
            <div class="home_popup_inner">              
              <a href="/board" ><img src="/assets/images/191206_main_popup2.jpg" alt="임시주주총회 소집 통지서"></a>
            </div>
           </div>  -->
            <!-----------main_popup 20181127------------>
            <!-- <div id="div_laypopup">
                   <div class="pop_inner"><a href="/board"><img src="/assets/images/event/20190620_popup.jpg" alt="logo"></a></div>
                   <div class="close-bar">
                      <form name="form1" method="post" action="">
                         <span class="left">오늘 다시 보지 않기 <input type="checkbox" name="popup" title="오늘 다시 보지 않기" /></span>
                         <a href="javascript:closeLayer();" id="popup_close" title="닫기" class="right">[ 닫기 X ]</a>
                      </form>
                   </div>
               </div> -->
            <!-----------main_popup------------>




          <div class="main_con02">
            <div class="main_inner">
              <div class="main_card main_card01">
                  <div class="card_hover"></div>
                  <a href="/about" class="border_ani">
                    <p class="main_card_b">1소통의 순환 <br>공간의 창출</p>
                    <div class="main_card_s">
                    <div class="main_card_p"><span>플로언스</span> 바로가기<em class="ani_bar">bar</em></div><img src="/assets/images/icon_more.png" alt="image">
                    </div>
                  </a>
              </div>
              <div class="main_card main_card02">
                  <div class="card_hover"></div>
                  <a href="/flownser" class="border_ani">
                    <p class="main_card_b">그 자체로  <br>끌리는 사람들</p>
                    <div class="main_card_s">
                    <div class="main_card_p"><span>플로언서</span> 바로가기<em class="ani_bar">bar</em></div><img src="/assets/images/icon_more.png" alt="image">
                    </div>
                  </a>
              </div>
              <div class="main_card main_card03">
                  <div class="card_hover"></div>
                  <a href="/rednote" class="border_ani">
                    <p class="main_card_b">플로언스  <br>이야기에 빠지다</p>
                    <div class="main_card_s">
                    <div class="main_card_p"><span>레드노트</span> 바로가기<em class="ani_bar">bar</em></div><img src="/assets/images/icon_more.png" alt="image">
                    </div>
                  </a>
              </div>
              <div class="main_card main_card04">
                  <div class="card_hover"></div>
                  <a href="/gongsapd" class="border_ani">
                    <p class="main_card_b">세상 모든  <br>공사의 연결점</p>
                    <div class="main_card_s">
                    <div class="main_card_p"><span>공사피디</span> 바로가기<em class="ani_bar">bar</em></div><img src="/assets/images/icon_more.png" alt="image">
                    </div>
                  </a>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="main_con03 cf">
            <!-- <div class="sns_box sns_area01">
              <p>플로언스  SNS</p>
              <ul class="sns_area">
                <li><a href="https://blog.naver.com/flowns_" target="_blank"><img src="/assets/images/footer_sns01.png" alt="blog_icon"></a></li>
                <li><a href="https://www.instagram.com/flowns_" target="_blank"><img src="/assets/images/footer_sns02.png" alt="instgram_icon"></a></li>
              </ul>
            </div> -->
            <!-- <div class="sns_box sns_area02">
              <p>공사피디  SNS</p>
              <ul class="sns_area">
                <li><a href="http://04-pd.com" target="_blank"><img src="/assets/images/footer_sns03.png" alt="icon"></a></li>
                <li><a href="https://blog.naver.com/04-pd" target="_blank"><img src="/assets/images/footer_sns04.png" alt="blog_icon"></a></li>
                <li><a href="https://www.facebook.com/Gong4PD" target="_blank"><img src="/assets/images/footer_sns05.png" alt="facebook_icon"></a></li>
                <li><a href="https://band.us/@04pd" target="_blank"><img src="/assets/images/footer_sns06.png" alt="band_icon"></a></li>
              </ul>
            </div> -->
            <div class="sns_box sns_area03 cf">
              <p><span>공식 블로그</span> 바로가기</p>
              <ul class="sns_area">
                <li><a href="https://blog.naver.com/04-pd" target="_blank"><img src="/assets/images/official_blog_000.png" alt="blog_icon"></a></li>
                <li><a href="https://blog.naver.com/04-fd" target="_blank"><img src="/assets/images/official_blog_002.png" alt="instgram_icon"></a></li>
                <li><a href="https://blog.naver.com/04fd-edu" target="_blank"><img src="/assets/images/official_blog_001.png" alt="instgram_icon"></a></li>
              </ul>
            </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="award_contens_area">
             <ul>
              <li><img src="/assets/images/symbol_government.jpg" alt="사회공헌대상"><p>2019년 대한민국 <br>사회공헌대상 수상</p></li>
              <li><img src="/assets/images/symbol_government.jpg" alt="사회공헌대상"><p>2019년 대한민국 국회 <br>과학기술정보통신위원회 표창</p></li> 
              <li><img src="/assets/images/symbol_government.jpg" alt="사회공헌대상"><p>2019년 대한민국 국회 <br>국토교통위원회 표창</p></li> 
              <li><img src="/assets/images/symbol_119.png" alt="사회공헌대상"><p>2018년 소방청장 <br>사회공헌부문 표창</p></li> 
             </ul>
          </div>
        </ion-col>
      </ion-row>

    </ion-grid>


  <app-footer></app-footer>
</ion-content>