<admin-template></admin-template>
<ion-content class="admin_bg">
  <div class="margin_left_menu">
    <!-- <ion-grid class="wrap_admin_detail wrap_admin_rednote">
        <ion-row>
          <ion-col class="ad_detail_th">제목</ion-col>
          <ion-col>
            <ion-input id="title" type=text value="{{data?.title}}" readonly={{is_readonly}}></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ad_detail_th">내용</ion-col>
          <ion-col>
              <ion-textarea id="content" value="{{data?.content}}" readonly={{is_readonly}}></ion-textarea>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ad_detail_th">URL</ion-col>
          <ion-col>
              <ion-input id="nv_url" value="{{data?.nv_url}}" readonly={{is_readonly}}></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ad_detail_th">이미지</ion-col>
          <ion-col>
            <ion-input *ngIf="mode!='detail'" type=file (change)="fileChange($event)" accept="image/*"></ion-input>
            <img *ngIf="image_data" [src]="image_data.data"/>
          </ion-col>
        </ion-row>
        <div padding class="fr">
          <ion-button #action_button (click)=button_action($event)>click</ion-button>
           <ion-button *ngIf="mode=='edit'" (click)=button_action($event)>삭제</ion-button> 
        </div>
      </ion-grid> -->
      
      <div class="wrap_admin_detail wrap_admin_rednote">
        <table>
          <tr>
            <th class="ad_detail_th">제목</th>
            <td>
              <ion-input id="title" type=text value="{{data?.title}}" readonly={{is_readonly}}></ion-input>
          </tr>
          <tr>
            <th class="ad_detail_th">내용</th>
            <td>
                <ion-textarea id="content" value="{{data?.content}}" readonly={{is_readonly}}></ion-textarea>
            </td>
          </tr>
          <tr>
            <th class="ad_detail_th">URL</th>
            <td>
                <ion-input id="nv_url" value="{{data?.nv_url}}" readonly={{is_readonly}}></ion-input>
            </td>
          </tr>
          <tr class="last">
            <th class="ad_detail_th">이미지</th>
            <td>
              <ion-input *ngIf="mode!='detail'" type=file (change)="fileChange($event)" accept="image/*"></ion-input>
              <img *ngIf="image_data" [src]="image_data.data"/>
            </td>
          </tr>         
        </table>
        <div class="btns fr">
          <button #action_button (click)=button_action($event)>수정</button>
            <!-- <button *ngIf="mode=='edit'" (click)=button_action($event)>삭제</button>  -->
        </div>
      </div>

  </div>
  
</ion-content>
